[2014-08-05 18:19] lemire opened #2 "Rename repo"
You have named the package goroaring.  I approve even though the simpler "roaring" could be even better.

There is a real problem however with the repo name (go-roaring) on github. This violates one of the Go's convention that the name of the repository should match the package name:

http://golang.org/doc/effective_go.html#package-names

[2014-08-05 19:47] lemire opened #3 "Replace short by uint16"
In Java, we are stuck with short, int, long. The Java roaring library effectively emulates uint16 using short (a major pain). However, go has exactly the right native type (uint16).

Unless there is a very good reason for it, I recommend that the type "short" be replaced by uint16 for clarity.

(I could make this change, naturally... but I try to avoid doing such far ranging changes without discus

[2014-08-05 21:53] #3 closed, assigned to nobody

[2014-08-05 21:53] #2 closed, assigned to nobody

[2014-08-05 21:54] lemire opened #4 "Rewrite performance-critical functions in assembly"
The performance-critical functions should be rewritten in assembly, to use the popcnt instruction, as in Will's bitset library:

https://github.com/willf/bitset/blob/master/popcnt_amd64.s

Of course, benchmarks should be provided.

[2014-08-05 23:38] lemire opened #5 "Add Travis support at the github project level"
Automated continuous integration through Travis would be nice:

http://docs.travis-ci.com/user/languages/go/

I think only the project owner can set this up.

[2014-08-05 23:39] lemire opened #6 "Implement data removal functions"
Right now, we can only add content to a bitmap... but we should be able to remove them as well.

[2014-08-05 23:42] lemire opened #7 "Add benchmarks"
In theory, adding benchmarks in Go is trivial. It is as easy as adding a test.

Unfortunately, Convey seems to get in the way: whenever I try to run a single benchmark, Convey insists on running all the tests, which takes 2 minutes or so...

I do not know Convey well enough to understand how well it supports benchmarks.

To understand what I have in mind, grab https://github.com/willf/bitset and t

[2014-08-06 19:09] #5 closed, assigned to nobody

[2014-08-06 19:31] lemire opened #8 "clear go lint warnings..."
http://go-lint.appspot.com/github.com/tgruben/roaring

[2014-08-08 14:01] #8 closed, assigned to nobody

[2014-08-08 14:04] lemire opened #9 "Port Java's horizontal_or"
In Java, the best performing function to compute the union between
many bitmaps is horizontal_or. It uses much less memory than FastOr
and avoids cardinality maintenance overhead.

It should be ported to Go:

https://github.com/lemire/RoaringBitmap/blob/master/src/main/java/org/roaringbitmap/FastAggregation.java#L84-L126

[2014-08-08 14:12] lemire opened #10 "Allow serialization and test compatibility with Java format"
It should be possible create a RoaringBitmap in Java, save it and load it back in Go. And vice versa.

[2014-08-28 18:30] donovanhide opened #11 "How to count all set bits in a bitmap before an index?"
Hi,

just wanted to ask for some advice before trying the code out. Say I have a Roaring Bitmap which can contain any unsigned integer below 4,294,967,296. It will be very sparsely populated and the highest integer may be much lower than the maximum. I want to count the set bits below an index. Is the recommended solution to make a new RoaringBitmap of length equal to the index-1 and AND it with t

[2014-08-29 19:49] #11 closed, assigned to nobody

[2014-10-17 21:13] #4 closed, assigned to nobody

[2014-10-17 21:14] #10 closed, assigned to nobody

[2014-10-17 21:15] lemire opened #12 "Please document equals function in the test routines"
This code is puzzling to some of us :

https://github.com/tgruben/roaring/blob/master/roaring_test.go#L1321-L1323

c.c. @tgruben

[2014-10-25 01:40] #6 closed, assigned to nobody

[2014-10-30 04:18] #9 closed, assigned to nobody

[2014-10-30 05:44] #12 closed, assigned to nobody

[2014-12-29 16:31] #7 closed, assigned to nobody

[2015-01-23 14:11] lemire opened #22 "Iterate over the unset bits"
It should be possible to iterate over the unset bits.

[2015-04-10 21:34] lemire opened #27 "And, Or, Xor and AndNot in-place functions should be optimized"
Currently, the binary And, Or, Xor and AndNot in-place functions do not attempt to do the computation in-place.

A genuine in-place implementation, as is available in the Java counterpart https://github.com/lemire/RoaringBitmap would use less memory and be faster in some instances (because it would avoid memory allocation and unnecessary copies).

[2015-04-10 21:35] lemire opened #28 "Write performance benchmarks"
We need to compare the performance of this implementation with sensible competitors.

[2015-04-15 13:41] ebonetti opened #29 "Bug in AndNot"
Sometimes the function "AndNot" shows a bug: on a big set and a subset "roaring.AndNot(subset, set)" is not empty, but it should be.

The code and the sets are in the 7zip file at:
https://drive.google.com/file/d/0B7aIxjl31WjSOGVVTE5YNzRuTzA/view?usp=sharing

Keep up the good work,
Enrico

[2015-04-15 14:17] lemire commented on #29
Thanks. This will get investigated shortly.

[2015-04-15 18:05] lemire commented on #29
@ebonetti

Thanks for catching this issue. Fixed by this commit:

https://github.com/tgruben/roaring/commit/55ec56cc331976da5edf31c183ec928d267352c9

I am closing the issue, please reopen if you disagree.

[2015-04-15 18:05] #29 closed

[2015-04-16 14:58] lemire commented on #27
Partially resolved: And and AndNot functions have been optimized.

It remains to optimize Or and Xor similarly.

[2015-04-16 14:59] lemire commented on #28
There is a now a set of reasonable benchmarks. It compares roaring against @willf Bitset.

Do:

          $ go test -bench Benchmark -run -

This could be improved, naturally.

[2015-04-16 14:59] #28 closed

[2015-04-17 18:03] lemire opened #30 "Roaring should run over uint32 integers and not int integers"
A Roaring data structure really stores 32-bit unsigned integers. It is problematic to use as inputs and outputs signed ints.

[2015-06-11 20:29] lemire commented on #30
Resolved and implemented.

[2015-06-11 20:29] #30 closed

[2015-06-11 20:34] lemire opened #31 "Reduce memory usage by getting rid of the element struct"
The element struct means that our 16-bit keys probably consume a lot more than 16 bits. The code should be rewritten without an element struct for reduced memory usage.

[2015-06-22 16:13] lemire commented on #31
Implemented by @bpot

[2015-06-22 16:13] #31 closed

[2015-08-18 15:40] lemire opened #37 "Implement run containers"
For better compression when there are long runs of consecutive values, the Java version has run containers (as of version 0.5). They should be implemented :

https://github.com/lemire/RoaringBitmap/blob/master/src/main/java/org/roaringbitmap/RunContainer.java

These can be created by the "runOptimize" function...

https://github.com/lemire/RoaringBitmap/blob/master/src/main/java/org/roaringbitmap/

[2015-08-21 13:12] lemire opened #38 "Parallelize"
Roaring is ideally suited for parallel execution, as all containers can be operated upon in distinct threads.

[2015-09-29 20:27] lemire opened #40 "Optimize the implementation of OrCardinality"
Currently, the OrCardinality function materializes temporary containers that are immediately (?) garbage collected. This is wasteful. Instead, we should have fast container-to-container union functions that just return the cardinality without doing memory allocation, as is the case with the intersections.

https://github.com/RoaringBitmap/roaring/blob/db18267a1ca5d1d4c9a91c23d585b1ce8e255e45/roari

[2015-12-03 14:12] lemire opened #46 "andCardinality and orCardinality could be faster/use less memory"
Currently andCardinaly and orCardinality are implemented in such a way that intermediate containers are constructed and immediately discarded. This could be optimized significantly.

[2015-12-31 20:25] brentp opened #47 "use arrays for dense blocks"
the cython implementation by @andreasvc has a nice idea from lucene "that it uses arrays not only when a block contains less than 2 *\* 12 elements, but also when it contains more than 2 *\* 32 - 2 *\* 12 elements; i.e., blocks that are mostly full are stored just as compactly as blocks that are mostly empty"

it would be nice to support that in this version.

[2016-01-05 16:11] lemire commented on #47
Alternatively, one can use

https://github.com/tgruben/roaring/issues/37

[2016-01-05 16:13] lemire commented on #47
Note that run containers have proven beneficial in practice, in Apache Spark and in Druid... greatly reducing memory usage in important cases.

I am not convinced that the benefits of the proposed enhancement are as large and as general.

[2016-01-05 16:17] brentp commented on #38
do you have a model of how to do this? When doing, e.g. intersection, we would need to distribute the same blocks from each roaringbitmap to each thread (goroutine) but it could be that one of them is very dense and the other is very sparse.

[2016-01-05 16:21] lemire commented on #37
This is now used in Apache Spark and Druid with good results.

[2016-01-05 16:21] lemire commented on #37
c.c. @brentp

[2016-01-05 16:26] lemire commented on #38
I have ideas that we can discuss if you want, but there has been no experiment that I know of regarding parallelization, in Go or Java or... So this is research.

[2016-01-05 16:27] brentp commented on #37
so then, for every method, it needs to implement, e.g.
[code]

[2016-01-05 16:29] lemire commented on #37
@brentp

Sadly, yes, it is a pain. On the plus side, there is a complete Java implementation that has been tuned and debugged. So copy-and-paste buys a lot of progress. Believe me, the first implementation (in Java) is surely orders of magnitude more troublesome than a simple port of the idea.

The benefits can be huge however in practice.

[2016-01-05 16:45] brentp commented on #37
the benefits are in space? or time? must be space. I guess there could be a method rle.convert() that returns either a bitmap or an array depending on it's own density?

[2016-01-05 16:52] lemire commented on #37
There are important gains in both space and time.

Here is the preprint :

http://roaringbitmap.org/RunRoaringBitmap.pdf

It is really very good. I was surprised at how well it did. Better yet: the good results were preserved when it went into production.

[2016-01-05 17:49] gpunti commented on #38
Hi,

There's a version of MutableBitmap that can be accessed in parallel here ( is thread-safe ):

https://github.com/gpunti/RoaringBitmap/blob/thread-safety/src/main/java/org/roaringbitmap/ConcurrentBitmap.java

I still haven't asked for pull-request because I'm trying to figure out how to deal with the binary operations:  How to make a generic container interface so that all bitmap implementatio

[2016-01-05 17:59] brentp commented on #38
@gpunti interesting.
I was thinking you don't need a threadsafe container if you do the concurrency above the level of the container rather than within each container.

[2016-01-05 18:06] lemire commented on #38
Right. I think that concurrency and parallelism are related but distinct here. The binary operations do not require concurrency in the sense that all you need to parallelize is the production of the containers... assembling the containers into a bitmap is cheap and can be single-threaded.

[2016-01-05 18:08] gpunti commented on #38
That's right. This concurrent bitmap can work with any type of container. The problem are the binary operations, that are bitmap-implementation dependent. If we could made them independent ( with a shared container interface ) then we could have also have the same logic operations for any bitmap-implementation.

[2016-01-05 18:16] lemire commented on #38
@gpunti

(So we are clear, we are talking about Java code whereas tgruben/roaring is in Go.)

We already have something of the sort: the RoaringArray abstraction. That's how we were able to implement MutableRoaringBitmap and ImmutableRoaringBitmap. Whether you are in Go or in Java, the RoaringBitmap code itself does not specify a particular storage requirement. It is all handled by a separate clas

[2016-01-05 19:04] gpunti commented on #38
If was thinking about doing something like this :

MutableBitmap mb = ...
ConcurrentBitmap cb = ...

OrOperator<ConcurrentBitmap> op = new OrOperator<ConcurrentBitmap> ( ConcurrentBitmapFactory )
ConcurrentBitmap result = op.execute ( mb, cb );

Probably the operation itself would become slower ( OrOperator could not take advantage of the container implementation details ) but would make everythin

[2016-01-05 21:11] lemire commented on #38
@gpunti

Adding new code to do what you describe is probably fine. Users can then determine for themselves whether the eventual slowdown is worth it.

If what you have in mind, however, is to throw away the existing code and replace it with a whole new framework... well... it puts the bar high. The existing code is thoroughly tested, it runs on production servers, it is known to be fast enough...

[2016-01-05 23:15] gpunti commented on #38
@lemire Ok. I'll implement the binary operations and make the pull-requests for the whole concurrent solution. It won't be directly compatible with current bitmaps ( they will need some kind of conversion ) but I guess you're right and it's better to go step by step.

[2016-01-06 20:37] brentp commented on #37
so the rle is single uint16 array (slice in go) with alternating values of [num_i, runlen_i-1, num_j, runlen_j-1, ...]
is there an advantage of that over 2 separate arrays?

[2016-01-06 20:56] lemire commented on #37
@brentp

We interleave the data because it is always used together. Otherwise, the code is unnecessarily  complex and it is likely that there are more cache misses. Think about a binary search to check whether a value is contained. With two arrays, each access hits two cache lines. You can almost be sure to have twice as many cache misses.

Separating the data is indeed the correct default strateg

[2016-01-08 15:25] brentp commented on #37
so from the paper, it looks like Roaring without runs is almost always at least as fast as roaring+runs except for entire unions where roraing+runs is much faster.
In table III, it'd be interesting to know how much faster is Roaring+Run in IIIe than it is in IIId

[2016-01-08 16:05] lemire commented on #37
Yes, but consider Table Ic. In some instances, Roaring+Run compresses the data much better, while remaining really fast.

It is not presented directly but it can be inferred because Roaring+Run naive appears in IIIe.

[2016-01-08 16:19] brentp commented on #37
got it. thanks.

[2016-01-12 00:28] lemire opened #49 "Fine tune array-array intersection algorithm"
When two array containers are intersected, we select the right algorithm according to a heuristic which depends (arbitrarily) on a parameter (64). This parameter was chosen more or less randomly a long time ago. It could be that either a larger or, more likely, a smaller value could be preferable in practice. We should test this out:

https://github.com/RoaringBitmap/roaring/blob/master/setutil.go

[2016-01-18 19:40] joenall opened #50 "Flip on an empty bitmap does not set bits"
package main

import (
        "fmt"
        "github.com/roaring"
)

func main() {
        bm := roaring.NewRoaringBitmap()
        roaring.Flip(bm, 0, 10)
        fmt.Printf("%v cardinality is: %d\n", bm, bm.GetCardinality())
}

[2016-01-18 20:36] lemire commented on #50
@joenall

Correct code would be

[code]

Or better yet, if you do not want to generate too many new objects...

[code]

The documentation seems correct and I have added new unit tests.

Thanks for the report. I will close this, reopen if you disagree.

[2016-01-18 20:36] #50 closed

[2016-01-21 15:57] brentp commented on #37
I started having a look at this, but might just wait to wrap the C lib. :)
I did find that since the memory layout is under our control in go (as in C). It's nicer to have:

[code]

than

[code]

becuase with the former, we can just index into `rle` as normal and don't have to worry about multiplying by 2 in the search.

Below is as far as I got:

[code]

[2016-01-21 16:25] lemire commented on #37
@brentp

I think we need to integrate your code. Want to issue a PR? Alternatively, we can grant you access to the repo... would be wise to start out in a branch until we have integration and unit tests, of course. In any case, we would want to add you as a contributor (see README file). How do you want to go about it?

There are a couple of C versions of Roaring, but I don't expect wrapping it in

[2016-01-21 16:40] brentp commented on #37
I figured a go wrapper would be practical even with the call overhead since the operations will be on a full container, not on each (uint16) element in a container.

[2016-01-21 16:45] brentp commented on #37
I think you already added me to contributors. You're welcome to incorporate this code as-is, though it will need some modifications as I had my own minimal bitmap container that I'm not sure is compatible with the one from this repo.

[2016-01-21 16:50] lemire commented on #37
Ok. Let us leave it there for now until I or someone else can make good use of it.

You can't blame me for being overeager on such things... ;-)

For unions and intersections... sure... for contains/add/iteration... I think that the C-to-go overhead will be too large.

[2016-01-31 08:03] anacrolix opened #51 "Difference between and and fastAnd, and fellows"
There are several methods with "fast" variants. Other than a minor interface change, what do they differently? Can you document this?

[2016-02-01 17:06] lemire commented on #51
Thanks.

Documentation is improved... e.g., see

https://godoc.org/github.com/RoaringBitmap/roaring#FastOr

Closing. Re-open if you disagree.

[2016-02-01 17:06] #51 closed

[2016-02-01 17:26] anacrolix commented on #51
Great, thanks.

[2016-02-04 12:56] kron4eg opened #52 "[Proposal] start tagging semver releases"
It would help a lot if this repo will start using http://semver.org spec. Simple `git tag v0.1.0`.

[2016-02-04 16:27] lemire commented on #52
Having formal releases is certainly something we should do.

However, it should also be aligned on the Go ecosystem. If you can't declare as a dependency specific versions, it is somewhat irrelevant that you have versions at all...

In Java, at https://github.com/RoaringBitmap/RoaringBitmap/tags, versions are tagged automatically with Maven and projects can require any one specific version, using

[2016-02-04 18:15] kron4eg commented on #52
At the moment "official" way of doing versioning in Go is — vendoring. In Go 1.5 Go vendor experiment was introduced and in 1.6 it became on by default. And virtually all vendoring tools could fetch dependencies based on git refs, like tags/branches and so on.

So simple git tags will be more then enough.

[2016-02-04 18:40] lemire commented on #52
@kron4eg

Done. Reopen if you disagree.

[2016-02-04 18:40] #52 closed

[2016-02-09 09:38] anacrolix commented on #22
I don't know the implementation, but can't you Flip in the range you want, then iterate that?

[2016-02-09 14:15] lemire commented on #22
@anacrolix

Yes. You can. Absolutely.

[2016-02-10 04:41] anacrolix opened #53 "AddRange pattern that panics"
This sequence of calls causes a panic on linux/arm and darwin/amd64

[code]

[2016-02-10 04:43] anacrolix commented on #53
The 3rd call:

goroutine 2861759 [running]:
github.com/RoaringBitmap/roaring.(*arrayContainer).iaddRange(0x16cc0c40, 0xb, 0x10, 0x0, 0x0)
        /root/gopath/src/github.com/RoaringBitmap/roaring/arraycontainer.go:101 +0x3ec
github.com/RoaringBitmap/roaring.(*RoaringBitmap).AddRange(0x158668d0, 0xb, 0x10)
        /root/gopath/src/github.com/RoaringBitmap/roaring/roaring.go:878 +0x1dc

[2016-02-10 13:23] anacrolix commented on #22
So is that of ill performance or not the goal?

[2016-02-10 13:59] kron4eg commented on #22
just wandering, in what case this could be useful?

[2016-02-10 14:05] lemire commented on #22
It is a convenience/performance issue. I don't have a use case per se.

[2016-02-10 15:09] lemire commented on #53
Investigating. The AddRange function is relatively recent so bugs are possible.

[2016-02-10 16:44] lemire commented on #53
Fixed in version 0.1.1. Please upgrade.

Closing. Reopen if you cannot verify.

[2016-02-10 16:44] #53 closed

[2016-02-11 02:11] lemire opened #54 "Consider renaming from roaring.RoaringBitmap to roaring.Bitmap"
Golint warning makes sense to me... but this would break existing code...

``` type name will be used as roaring.RoaringBitmap by other packages, and that stutters; consider calling this Bitmap```

[2016-02-11 06:20] kron4eg commented on #54
This package is imported only by one public package: https://godoc.org/github.com/RoaringBitmap/roaring?importers , so rename will not that catastrophic

[2016-02-11 20:59] lemire commented on #54
@kron4eg

Thanks.

I'd like us to collect more feedback before we make this change, if possible. Lots of dependencies could exist within private projects.

c.c. @brentp @willglynn  @bpot @tvmaly @boutros @statik

[2016-02-11 21:00] brentp commented on #54
+1 for change.

[2016-02-11 21:02] willglynn commented on #54
+1 from me.

[2016-02-11 21:04] boutros commented on #54
Sounds good too me. No problem updating my projects using it

[2016-02-11 21:16] statik commented on #54
+1 for the name change.

[2016-02-11 21:29] lemire commented on #54
Named changed. Bumped the version to 0.2.0.

Thanks to all for giving feedback.

[2016-02-11 21:29] #54 closed

[2016-02-12 10:40] anacrolix commented on #54
How am I the only public user! And I just wrap it anyway. Also godoc only tracks packages that have been viewed there, so public packages may exist that just haven't been godoc'd? Either way cool change.

[2016-03-19 23:35] lemire opened #55 "Add skippable iterators"
Java's iterators can skip over values :

https://github.com/RoaringBitmap/RoaringBitmap/blob/master/src/main/java/org/roaringbitmap/PeekableIntIterator.java#L11-L16

[2016-04-01 21:40] lemire opened #56 "Need for more profiling..."
Though the code is well tested and works, and there has been several contributions to make it run faster, there could still be large inefficiencies. We should profile this code.

http://blog.golang.org/profiling-go-programs

[2016-04-08 15:40] lemire opened #57 "Our coverage is below 90%"
More testing is needed:

https://gocover.io/github.com/RoaringBitmap/roaring

[2016-04-26 20:54] lemire commented on #46
Actually, just implementing a faster andCardinality would be sufficient since we can deduce the union cardinality from the intersection cardinality given the cardinalities of the inputs.

[2016-04-29 18:03] lemire opened #58 "HeapOr could be optimize"
The Java version contains many more optimizations...

[2016-05-06 18:23] lemire opened #59 "Fix Copy-on-Write implementation"
The current copy-on-write implementation is not effective. It should be re-engineered.

[2016-05-06 19:04] lemire commented on #59
Fixed : https://github.com/RoaringBitmap/roaring/commit/3751c264e57277e7a1a7e7c25eec398753ddc3e9

[2016-05-06 19:04] #59 closed

[2016-05-14 04:10] anacrolix opened #60 "compile error 412e36150348ee57627c808e6182ef895c72f8b7"
../gopath/src/github.com/RoaringBitmap/roaring/roaring.go:1038: too many arguments to return

[2016-05-14 17:39] #60 closed

[2016-06-06 19:32] onlyjob opened #62 "please add copyright statement"
Perhaps the best place to document copyright (by adding something like `Copyright 2016 owner <email@host.org>`) would be `README.md`. Thanks.

[2016-06-07 01:09] lemire commented on #62
Why?

[2016-06-07 01:32] onlyjob commented on #62
Because it is missing. It is unclear who grants the license.
_roaring_ may be introduced to [Debian](http://debian.org) but initial compliance review was unsuccessful due to lack of copyright statement.
Documenting copyrights is a usual (and necessary) practice.

[2016-06-07 02:56] onlyjob commented on #62
That's better than nothing but still not ideal as "the contributors" is not a legal entity.

Perhaps main contributor (or organisation) can be mentioned in copyright statement?

To me "the contributors" suggests that legal status of the project (ownership) may be uncertain...

Also word "by" is not necessary in copyright statements... Thank you.

[2016-06-07 03:06] statik commented on #40
@lemire I started taking a look at this and got a little confused. I'll list out what I found, and just say there is a good chance I'm missing something and would greatly appreciate any pointers on what operations are still missing here.

https://github.com/RoaringBitmap/roaring/blob/master/setutil.go#L211 has `intersects2by2`. Not sure if the 2by2 suffix is correct, when comparing https://github.

[2016-06-07 03:16] statik commented on #62
I don't think it is a useful thing to put go libraries in debian packaging. What is the thing that would be installed by the debian package? Go libraries don't get distributed as shared libraries, they get distributed as source, and the consumer of a go library compiles everything into a static binary.

[2016-06-07 03:27] statik commented on #62
Aha, I found this page http://pkg-go.alioth.debian.org/packaging.html which explains that library only packages are not available to end users, they are only for use by debian packaging system when building binaries written in go. So in this case I understand why debian would like to create source packages for go libraries.

[2016-06-07 03:46] onlyjob commented on #62
Go libraries are packaged as `-dev` packages to satisfy build dependencies. Those packages are only shipping sources but their build tests are running on all Golang architectures -- a something that is so rarely done for vendored libraries.

[2016-06-07 04:16] lemire commented on #62
@onlyjob

The copyright of the Go language itself is given as : "Copyright (c) 2012 The Go Authors."  See : https://golang.org/LICENSE

Is Go included in debian?

The linux kernel is copyrighted by "Linus Torvalds and others who actually wrote it".

Presumably, the Linux kernel is part of Debian?

Git's copyright is "owned" by all sorts of people including Linus Torvalds, me (of all people) and so

[2016-06-07 04:17] lemire commented on #62
@onlyjob  Note that I'd genuinely want to clear this up with you.

[2016-06-07 04:19] lemire commented on #62
@statik  I would definitively be a positive to be included by debian.

If all that is blocking us is a clearer copyright notice. Let us solve that.

[2016-06-07 04:21] lemire commented on #40
@statik  I'll get back to you.

[2016-06-07 19:21] lemire commented on #40
@statik

It means that we take the intersection of two sets... as opposed to intersecting 3 sets, and so forth. Arguably, the 2by2 suffix is unnecessary but that's a private function.

[2016-06-07 19:23] lemire commented on #40
@statik

Ok. So the current status of this issue is that it is all implemented *except* that the ``OrCardinality `` function materializes the temporary containers needlessly.

https://github.com/RoaringBitmap/roaring/blob/db18267a1ca5d1d4c9a91c23d585b1ce8e255e45/roaring.go#L416

I'll update the issue description to avoid confusion.

[2016-06-07 19:24] lemire commented on #40
@statik

Done. Let us hope that things are clearer now. Thanks for the feedback.

[2016-06-07 21:43] statik commented on #40
@lemire thanks! this makes sense. I hope to find some time to work on this.

[2016-06-07 21:44] lemire commented on #40
@statik  Please do. And, also, if you do, don't forget to throw in extra tests for good measure!

[2016-06-08 08:36] onlyjob commented on #62
I don't have time for analysis of copyright documentation in the mentioned projects but usually projects that use _copyright "the contributors"_ also maintain list of contributors (copyright holders)
or headers in source files with details about license and copyright holders specific to a particular file.
Sometimes there are two (different) lists -- `CONTRIBUTORS` (maintained for copyright purpose

[2016-06-08 13:42] lemire commented on #62
@onlyjob

or headers in source files with details about license and copyright holders specific to a particular file.
Sometimes there are two (different) lists -- CONTRIBUTORS (maintained for copyright purposes) and AUTHORS.

Ok.

See https://github.com/RoaringBitmap/roaring/commit/e9cfdabbfbe11865b64a7658d83c1b6fc3bf92ec

[2016-06-09 03:19] onlyjob commented on #62
That'll do, thank you. :)
Though I like JavaEWAH approach is better because it is just a straightforward list of copyright holders in one place. Here we have copyright statement in README and list of contributors in another file, de-coupled from copyright years. Wouldn't it be simpler to maintain all this information in README?

[2016-06-09 04:00] lemire commented on #62
@onlyjob

We currently have exactly the same setup as the golang project itself.

[2016-06-09 05:06] onlyjob commented on #62
Fair enough. :) But I'm not convinced that Golang is an example of best practice in regards to copyright documentation...

[2016-06-14 18:32] lumost commented on #56
Is it known how close the golang implementation is in performance to other roaring bitmap implementations?

cheers,

--James

[2016-06-14 18:59] lemire commented on #56
@lumost

No. Sadly.

Not that it is hard to find out. Someone needs to do the leg work...

Here is a comparative benchmark in C/C++...

https://github.com/RoaringBitmap/CBitmapCompetition

I strongly encourage work in this direction.

[2016-07-25 10:19] cornelk commented on #57
The URL gives an 404 error.

[2016-07-25 11:40] lemire commented on #57
Looks like gocover.io went under?

[2016-07-25 21:23] cornelk commented on #57
https://coveralls.io/ looks like a good alternative, free for open source projects.

[2016-07-25 21:29] lemire commented on #57
I use coveralls.io in other non-Go projects, but I do not know how to use it with Go. Do you?

[2016-07-25 22:11] cornelk commented on #57
No, I never used it. I saw another Go project using it: https://coveralls.io/github/go-gorp/gorp

[2016-07-25 23:55] lemire commented on #57
I know that some projects use it, but I tried to follow the fuzzy instructions and it doesn't work. There are some mysterious steps involved. Looks like magic.

[2016-07-25 23:58] lemire commented on #57
https://coveralls.io/github/RoaringBitmap/roaring

[2016-07-26 10:52] cornelk commented on #57
I added the coverage badge to the README, the website still does not show content for this project: "There have been no builds for this repo."

[2016-07-26 14:06] lemire commented on #57
@cornelk

I am aware that it does not yet work. I tried something else this morning. Let us see.

[2016-07-26 16:28] lemire commented on #57
Coverage badge should be ok.

[2016-07-26 19:22] cornelk commented on #57
Great, I started working on some tests to test the panic edge cases now.

[2016-09-05 20:25] lemire commented on #56
@lumost  Here is a Go benchmark that compares three implementation

https://github.com/RoaringBitmap/roaring

It looks like github.com/RoaringBitmap/roaring does well.

[2016-09-05 20:28] brentp commented on #56
where is the benchmark?

[2016-09-05 21:02] lemire commented on #56
https://github.com/lemire/gobitmapbenchmark

[2016-09-16 22:08] steveyen opened #64 "possible Flip() bug?"
Hi, thanks for the cool work on roaring bitmaps.

Here's something strange that I originally encountered while trying to write some automated fuzz testing for roaring.

It's possible I'm using the Flip() API incorrectly, or the bug is really in the willf.BitSet that I'm comparing roaring against, but please see here for a simple test...

https://github.com/steveyen/roaring/blob/master/roaring_test

[2016-09-17 00:45] lemire commented on #64
Yes. Good catch. Fixed in v0.2.8. See unit test I added: https://github.com/RoaringBitmap/roaring/blob/master/roaring_test.go#L12-L32

[2016-09-17 00:45] #64 closed

[2016-09-17 00:45] lemire commented on #64
Please keep hunting for bugs!

[2016-09-17 00:47] lemire commented on #64
Please considering issuing a PR with your new tests. We never have enough good tests!

[2016-09-19 22:32] lemire opened #66 "Implement "IsSubset""
Implement a fast "IsSubset" comparison function between bitmaps... It is already implemented in the C version of Roaring...

https://github.com/RoaringBitmap/CRoaring/commit/91390da961546afcaa7a89b4fbc01b8039520e22

[2016-11-11 00:37] lemire opened #67 "Handle full containers"
``CRoaring`` converts "full" bitsets to full runs, for faster processing.

[2016-11-18 14:49] necroahegyrol opened #68 "Issue with AddMany"
Hello,

I think i've found a bug in AddMany & BitmapOf methods.
Here is a small test:
[code]
Result:
[code]

[2016-11-18 16:02] lemire commented on #68
I'll issue a new release with a fix.

This is a recent optimization that backfired.

Thanks for the report.

[2016-11-18 16:02] #68 closed

[2016-11-24 01:01] glycerine opened #69 "Q: recommended way to intersect with a contiguous interval/time span?"
A common filter, used in 90% of my queries, is to restrict a document set to a [begin,end) interval or time-window.

If I was to construct document IDs in chronological order, then this filter can be efficiently represented by a [first, last) interval of two integers.

Q: what is the efficient way to represent/construct such a bitset in Roaring, and use it in intersections?

Wrinkle: I typically h

[2016-11-24 01:26] glycerine commented on #69
Reading https://arxiv.org/pdf/1603.06549v3.pdf, this looks like a perfect use of the Roaring+Run encoding. Is Roaring+Run available in the Go (or, if need by, the C/C++) version of roaring?

[2016-11-24 01:53] glycerine commented on #69
looks like this is #37, so not yet implemented. I'll see about porting the Java code to Go.

[2016-11-24 02:50] brentp commented on #69
@glycerine also see my start here: https://github.com/RoaringBitmap/roaring/issues/37#issuecomment-173615900

[2016-11-24 14:34] lemire commented on #37
It has been implemented in C...
https://github.com/RoaringBitmap/CRoaring/blob/master/include/roaring/containers/run.h

[2016-11-26 04:54] glycerine commented on #37
I did an initial Go RunContainer for uint32, with the idea that uint16 would be trivial copy and paste once it is complete. It's available in pull request #70. It probably needs additions to integrate it with Bitmap, but there's alot of functionality there, and it is well tested.

Both the C and the java binary search implementations are subject to a classic integer overflow bug in binary search;

[2016-11-26 04:58] glycerine commented on #69
closing in favor of #37. Initial functionality in #70

[2016-11-26 04:58] #69 closed

[2016-11-26 15:39] glycerine opened #71 "integer overflows in binary search"
Both the C and the java binary search implementations are subject to a classic integer overflow bug in binary search; e.g. at
https://github.com/RoaringBitmap/CRoaring/blob/master/include/roaring/containers/run.h#L91
instead of
int32_t middleIndex = (low + high) >> 1;
prefer:
int32_t middleIndex = low + ((high-low) >> 1);

[2016-11-27 02:06] glycerine commented on #37
an update and a question:

https://github.com/RoaringBitmap/roaring/pull/70 now has uint16 and uint32 run-container backends. The container interface methods are stubbed out but not implemented.

Question: currently I am using [first, last] closed intervals. While my intitial implementation used [first, excluded_end) half-open intervals, I realized that this didn't support storing the maximum 2^16

[2016-11-28 11:03] jaten-saucelabs commented on #37
Update:
as of b4b9700827e9b2041cc95312f6f27a5f4756929a, the #70 PR is almost complete.

runContainer16 is missing only 3 methods of the container interface:
xor, lazyIOR, and lazyOR.  These shouldn't be difficult, although I'm not exactly clear on
the semantics of the lazy methods.

Also the container interface was somewhat inconsistent, with methods like add and remove sometimes acting inplace an

[2016-11-28 18:20] glycerine opened #72 "runContainer16 efficiency: avoid O(N^2) in runContainer16 interval subtraction"
https://github.com/RoaringBitmap/roaring/pull/70/files#diff-fd38fd3c1b1dffc8f36af21de50228f5R1204

line 1203 of rle16.go, at the top of isubtract() I make a copy of the backing slice rc.iv:
[code]

The copy of rc.iv into origiv is needed for correctness, because subtracting an interval can actually split an existing interval in two and make the overall slice grow.

Hence under the current implemen

[2016-11-28 23:59] lemire commented on #71
@glycerine

I think that's only an issue if ``low + high`` can overflow. I don't think that's possible in Roaring in general. Indeed, they are always values in ``[0,1<<16]`` so they are nearly 16-bit integers. They can't even come close to overflowing.

It might be worthwhile, however, to document the fact that they can't overflow.

[2016-11-29 00:04] lemire commented on #72
@glycerine  Wouldn't the right solution to use the fact that size and capacity are distinct values in Go arrays? So you check whether the capacity is large enough, and you reallocate only if the capacity is insufficient. When you do reallocate, you always grow the capacity by a multiplicative factor (say ``2*`` or less).

[2016-11-29 01:33] glycerine commented on #72
This isn't really a storage issue, but rather a time one. The concern is about the time complexity of repeated inserting a new element into the middle of a length N array. It costs O(N) time each time to copy (even just) the tail and make room in the middle. A set A - B subtraction could do O(N) such operations. Hence the O(N^2) time complexity.

[2016-11-29 01:51] lemire commented on #72
@glycerine

Obviously, we can't implement set subtraction using repeated calls to a linear-time function.

Here is the corresponding function in C:

https://github.com/RoaringBitmap/CRoaring/blob/master/src/containers/run.c#L435-L496

[2016-11-29 03:33] glycerine commented on #72
There is definitely room for efficiency optimizations in my stuff.

That said, I don't think that's the corresponding function, as it says:

[code]

In contrast, isubtract() is in-place, so dst would be the same as one of src_1 or src_2.

Currently I expand to bitmapContainers for iandnot... https://github.com/glycerine/roaring/blob/master/rlei.go#L416

Definitely one of those cases that wants mor

[2016-11-29 03:52] lemire commented on #72
If we need to reallocate the memory, we are no longer processing the data in-place, so we might as well create a new container and write the answer there... We'll get linear-time complexity and a single memory allocation.

I submit to you the isubtract is not in-place.

Of course, we get into semantics... but I think you'll see what I mean when I choose to equate in-place with the absence of non-t

[2016-11-29 08:04] glycerine commented on #72
I addressed my concern about the gross memory over allocation in 4c1ebfed0b16eb2e1074ca5ec662907767dc9333, and I added a port of C's run_container_andnot in 9ecb8d537bcde76f51ca8b5963cf767096642ab9.

There's plenty of additional tuning the runContainers could take, but the issues mentioned here have been addressed so I'll close this out.

[2016-11-29 08:04] #72 closed

[2016-12-10 19:02] glycerine opened #74 "HICAMP Bitmaps, any inspiration"
I ran across a paper about HICAMP Bitmaps from folks at Stanford, and wondered if there were any good ideas to be learned from it.
http://web.stanford.edu/~hlitz/papers/a7-wang.pdf

[2016-12-10 19:14] glycerine commented on #74
and another paper from 2016 on efficient updates.
http://stratos.seas.harvard.edu/files/stratos/files/upbit-sigmod16.pdf

[2016-12-10 21:15] glycerine opened #75 "new rangeOnfOnes implementation induces multiple test suite failures"
when roaringarray.go's func rangeOfOnes(start, last int) container is changed to be implemented purely with bitmaps, arrays, or rle16 containers, I see test suite failure. Here are the 3 options:

For context: this

https://github.com/RoaringBitmap/roaring/blob/master/roaringarray.go#L42

is being replaced by:
[code]
as in https://github.com/glycerine/roaring/pull/1

and here are the suite fails,

[2016-12-11 02:27] glycerine commented on #75
okay, it was no big deal. The equals() methods weren't checking for container types other than their own. fixed at 9bf6b3e7d20ef55cdbe2f46928dfd23aff699a91 (tip of glycerine/rle branch)

[2016-12-11 02:29] glycerine commented on #75
mmm.... too hasty, still some test failures...

[2016-12-11 18:59] glycerine commented on #75
The Not(range) algorithm was incorrect and untested.
Both these problems are fixed in the latest push to glycerine/rle branch; eb38642a3b7a67bd552483ba9ba065935b252852

[2016-12-11 18:59] #75 closed

[2016-12-12 02:03] glycerine opened #76 "thoughts on serialization formats"
Thoughts on serialization... things that could save a bunch of time...

When I need quick and portable serialization, I typically use msgpack2 from http://msgpack.org. It's a binary version of JSON that has a readable spec and is portable to all languages.

A reason I like msgpack2: there is an easy to use library for Go that is very fast.
Fast to deploy and fast when reading/writing.

https://git

[2016-12-12 18:50] lemire commented on #74
The question is somewhat open-ended, do you have anything specific in mind?

[2016-12-12 18:58] glycerine commented on #74
Nothing specific.

 Mostly just wanted to save the references for later reading and investigation--and to see if you had any critique. I was hoping they would have done comparisons with roaring, but I didn't see any.

[2016-12-12 19:26] lemire commented on #74
There are various relevant papers... Out of the top of my head, here is one paper that benchmarks against Roaring...

- Guzun, Gheorghi, and Guadalupe Canahuate. "Hybrid query optimization for hard-to-compress bit-vectors." The VLDB Journal 25.3 (2016): 339-354. http://user.engineering.uiowa.edu/~gguzun/papers/Hybrid_Query_optimization.pdf

Obviously, they conclude that their novel approach is bet

[2016-12-14 17:18] lemire commented on #37
Reposting here a comment made regarding serialization:

I think we want to keep the existing ``writeTo`` and ``readFrom`` methods.  We have an efficient  format that is supported across a wide range of libraries, and is being used in important production systems, and whose performance and data size has been documented and well tested. We have that ``gocroaring`` (https://github.com/RoaringBitmap/g

[2016-12-14 17:21] lemire commented on #37
@glycerine

No. Not that I am aware.

Right. Your implementation is fine.

I think that [start, last] is fine.

[2016-12-14 17:36] glycerine commented on #37
Sounds good. Since it's already done, let's keep the msgpack2/snappy for comparison.

Also: good context. I wasn't aware that there was already a documented format for run-containers (or for the other types). If you point me at the serialization format docs, I can probably do a quick determination of whether I can tackle it.

One thing that puzzled me in the current master branch was that the cont

[2016-12-14 20:14] lemire commented on #37
@glycerine The format specification can be found there:

https://github.com/RoaringBitmap/RoaringFormatSpec

The current go implementation fully support (efficiently) a subset of the specification.

[2016-12-15 18:15] cvermilion opened #78 "Operations like Or fail race checks"
In practice this may not be dangerous, but concurrently performing operations like `Or(rb1, rb2)` triggers warnings in Go's race detector due to concurrently writing the `roaringarray.needCopyOnWrite` flags on the argument bitmaps.

Example test:

[code]

Run via `go test -race` and you should see race warnings like:

[code]

A workaround is to call `rb.Clone()` before using in any other operation

[2016-12-15 18:54] lemire commented on #78
Excellent. This issue should get resolved.

It is, somewhat, already documented in our README...

https://github.com/RoaringBitmap/roaring#thread-safety

But we can do better. Right now, @glycerine is working on some major changes, so I would rather that we delay changing the code.

[2016-12-16 02:16] glycerine opened #79 "smat tests for run containers"
turning checkbox into issue, from #70:
update the unit tests to aggressively call runOptimize alot, and run the smat tests.

[2016-12-16 02:17] glycerine opened #80 "tune for performance"
often times in the run container operations it appeared faster to convert to bitmaps and the do the operations there. Meaure and see if any of the remaining operations could benefit from this kind of tuning.

[2016-12-16 02:19] glycerine opened #81 "implement lazyOR and lazyIOR for runContainer16"
currently these functions are just stubbed out. Once implemented, the whole lazy combination system could be groomed and tuned.

[2016-12-16 04:04] glycerine commented on #79
On my `rle_testing` branch, I sprinkled runOptmize through the top level operations, then ran smat.

After 26 minutes smat did find one hang/timeout, output here:

[code]

[2016-12-16 04:21] glycerine commented on #79
the open question is where the calls to

rb.highlowcontainer.runOptimize()

should go in the unit tests. I could use some assistance with placing them.

[2016-12-16 04:57] glycerine commented on #79
let it run for over an hour, the above timeout was the only thing detected.
[code]

[2016-12-16 14:22] cvermilion commented on #78
Sounds good! No rush on our end; as I noted the workaround is pretty simple and performance isn't a big issue yet. But I had to figure it out because we've added race checking to our CI pipeline...

[2016-12-16 16:49] lemire commented on #78
@cvermilion  Sure. I think it should be possible to have the best of all words... no data loss, no data race and no performance penalty whatsoever. All of it without having to produce a lot of code.

[2016-12-16 20:01] glycerine commented on #78
Bitmap.Or() is defined as updating its receiver in place:

// Or computes the union between two bitmaps and stores the result in the current bitmap

so I would not expect Or() to be safe to access across multiple goroutines at all.

[2016-12-16 20:04] cvermilion commented on #78
Right, but it's not the receiver that's the problem -- `rb2.Or(rb1)` modifies `rb1`, too (as I understand it above).

[2016-12-16 20:11] glycerine commented on #78
The receiver will be another problem, even if the race detector doesn't catch it (it can miss things if they aren't tested). The right thing here is to clarify the expectations.  Nobody should expect Or() to be multi-goroutine safe.

[2016-12-16 20:22] lemire commented on #78
Maybe we should focus on ``roaring.Or`` as a starting point.

https://godoc.org/github.com/RoaringBitmap/roaring#Or

[2016-12-16 21:04] cvermilion commented on #78
Right; I would expect `roaring.Or(rb1, rb2)` to be safe to call in multiple goroutines at once but my understanding is that currently it isn't.

Meanwhile I definitely wouldn't expect `rb1.Or(rb2)` to be safe when called with the same `rb1` in multiple goroutines, but I _would_ naively expect it to be safe when called with distinct `rb1` values but a shared `rb2`.

[2016-12-17 03:13] lemire commented on #37
Fixed in release 0.3.0 by @glycerine

https://github.com/RoaringBitmap/roaring/releases/tag/v0.3.0

[2016-12-17 03:13] #37 closed

[2016-12-17 03:14] lemire commented on #79
@glycerine  I think we do have a run containers in smat tests now. What is the status of this issue?

[2016-12-17 03:15] lemire commented on #76
@glycerine  Is this issue still relevant as stated?

[2016-12-17 03:18] lemire commented on #67
This issue could be easily handle now that we have run containers. It suffices to call ``isFull`` after, for example, the union between two bitmap containers.

[2016-12-17 03:19] lemire commented on #47
As of 0.3.0, this library has run containers which I think partly addresses this issue.

[2016-12-17 03:20] lemire commented on #78
Now that @glycerine's massive PR has been merged (creating version 0.3.0), we could safely work on this.

[2016-12-17 03:22] glycerine commented on #79
ok with me to close it!

[2016-12-17 03:22] #79 closed

[2016-12-17 03:25] glycerine commented on #76
both formats are now available. We can close this out!

[2016-12-17 03:25] #76 closed

[2016-12-17 03:32] glycerine commented on #80
...or vice-versa. I ended using bitmapContainer operations by default for most things in the runContainer binary operations, since they sped up the high cardinality test cases so much. For low cardinality however the non-bitmapContainer ops may be a win. Requires measurement.

[2016-12-17 03:38] glycerine commented on #71
... that would be true if the computation on uint32 was was done in 64-bit space, but it's done in uint32 land here https://github.com/RoaringBitmap/CRoaring/blob/master/include/roaring/containers/run.h#L91, so this code is definitely incorrect/vulnerable to overflow.

An easy small series of one line changes to make.

[2016-12-17 03:41] glycerine commented on #71
ah I see, because even on the key search, it's only every a 16-bit int. Okay I'm less concerned. But still work fixing.

[2016-12-19 17:16] lemire commented on #71
@glycerine

Though I expect it does not impact real-world performance, one is trading 2 operations for 3 operations: the "safer" code might very well add one cycle of latency (a 50% increase).

That's why I favor documenting the safety of the existing code.

[2016-12-19 19:03] glycerine commented on #71
That's reasonable. Seeing as this is a subtle point about binary search (which is notoriously subtle; Knuth says it took 30 years to get a close-to-correct published version of binary search) that impacted both the Go stdlib and the Java stdlib implementations originally (and perhaps still in Java; I don't know if they ever fixed it), I think it worth providing a detailed comment; something like

[2016-12-19 19:04] lemire commented on #71
We are in agreement.

[2016-12-19 19:31] glycerine commented on #71
looks like it was fixed in the jdk:

// https://research.googleblog.com/2006/06/extra-extra-read-all-about-it-nearly.html

[2016-12-19 20:16] lemire commented on #71
@glycerine Yeah. I expected as much.

[2016-12-19 21:54] glycerine commented on #80
@lemire are there existing benchmarks (in the Java version?) that should be ported to Go; or do the Go benchmarks already suffice?

I'd like to do at least one pass of perf tuning in order to catch glaring issues while the code is still fresh in mind.  To that end, I'd like to have benchmarks that include the runContainer16 as a part of their testing.  If nothing is available I can generate random

[2016-12-19 21:55] lemire commented on #78
@cvermilion

Can you check out this commit...
https://github.com/RoaringBitmap/roaring/commit/d510ddf8795919278c281125ddb97e614ba15f92

It should do what you want... It certainly passes your test.

I'll wait before issuing a release to see if it is a progress from your point of view.

[2016-12-19 21:56] glycerine commented on #80
here is what I get from the java repo, if someone could explain the columns, this might be a good place to start....
[code]

[2016-12-19 21:58] lemire commented on #80
@glycerine  We have Go wrapper around C code, so that's a good reference point... that is, Go should aim to be at least as good as that...

https://github.com/RoaringBitmap/gocroaring

[2016-12-19 22:00] lemire commented on #80
I have a shallow benchmark...
https://github.com/lemire/gobitmapbenchmark

[2016-12-19 22:03] lemire commented on #80
@glycerine

The easiest reference point might be this C/C++ benchmark...

https://github.com/RoaringBitmap/CBitmapCompetition

The README.md file there goes into the details of what each and every column means. This is not Go code, of course... it is C and C++... but the idea is the same.

[2016-12-19 22:04] glycerine commented on #80
great! thanks @lemire

[2016-12-19 22:07] lemire commented on #80
@glycerine

As for your specific question:

bitspervalue: bits of storage per value stored on average... should be self-explanatory... should be better when using run compression for obvious reasons

nanotimefor2by2and : take bitmaps two-by-two, compute intersection, report the time

nanotimefor2by2or : same with union

nanotimeforwideor :  compute the "wide" (complete) union of all bitmaps

nanot

[2016-12-19 22:14] glycerine commented on #80
looking at the java test data, it is about 120MB; I'm going to make a separate repo for it so as to not duplicate too much in the Go implementation.

[2016-12-19 22:22] lemire commented on #80
@glycerine

Actually, yes, I think it is nice to have it as a secondary repository.

[2016-12-19 22:40] glycerine commented on #80
isolated and duplicated here: https://github.com/RoaringBitmap/real-roaring-datasets

[2016-12-20 00:05] cvermilion commented on #78
@lemire, it fixes the races I'd seen in my code, awesome! I'm not familiar enough with the internals of the library to judge whether it solves the general case, but it looks good to me.

[2016-12-20 01:11] lemire commented on #78
Ok, released in 0.3.2.

[2016-12-20 01:11] #78 closed

[2016-12-20 17:26] 0x4139 opened #85 "Int overflow?"
doesn't this overflow int?
https://github.com/RoaringBitmap/roaring/blob/master/util.go#L283

[2016-12-20 17:42] 0x4139 opened #86 "build conditionals and serialization : functions uint64SliceAsByteSlice and uint16SliceAsByteSlice should be "file private" to serialization_littleendian.go and never be called elsewhere."
if someone will try to build this library for other platforms `uint64SliceAsByteSlice` and `uint16SliceAsByteSlice` will cause errors

[2016-12-20 17:51] 0x4139 commented on #85
i think it should be `rand.Intn((1 << 30)-1)`

[2016-12-20 18:39] lemire commented on #86
We need someone to test and debug the code on a big endian machine.

[2016-12-20 18:51] lemire commented on #85
@0x4139

I think that @glycerine  assumed that we are working on a 64-bit system. (???)

[2016-12-20 19:04] lemire commented on #86
c.c. @glycerine

[2016-12-20 19:05] 0x4139 commented on #85
@lemire yep

[2016-12-20 19:46] lemire opened #88 "rle.go has low test coverage"
File ``rle.go`` has a test coverage of only 70%: https://coveralls.io/jobs/21261570/source_files/124780022

[2016-12-20 20:58] glycerine commented on #88
Yes. The reason is that it isn't really used at this point. It's there to support future studies. If the low coverage concerns anyone, then I suggest we simply turn off coverage reporting on it.

[2016-12-20 21:03] lemire commented on #88
@glycerine  To do this, do you have anything more clever than this answer...

http://stackoverflow.com/questions/25511076/ignore-code-blocks-in-golang-test-coverage-calculation

[2016-12-20 21:18] glycerine commented on #88
just add it to the list here:
https://github.com/RoaringBitmap/roaring/blob/master/.travis.yml#L17

[2016-12-20 21:24] #88 closed

[2016-12-21 10:34] 0x4139 commented on #85
@glycerine can you explain why `1 << 29` and not (1<<31)-1 being the largest number on 32 bit systems?

[2016-12-21 16:29] lemire commented on #85
@0x4139  @glycerine I'm pretty sure that the answer is ``(1<<31)-1`` though it is maybe better expressed as ``0x7fffffff`` (matter of taste).

[2016-12-21 17:38] glycerine commented on #85
@0x4139 It doesn't matter for correctness, and the point is to look at it and quickly know that it doesn't overflow int even on 32-bit systems.

[2016-12-21 22:51] #85 closed

[2016-12-21 22:51] #86 closed

[2016-12-23 21:38] cvermilion opened #89 "Build fails for ARM architecture (maybe anything other than amd64?)"
I don't know if this an architecture you care about targeting, but it's one my company has been using, and it looks like #84 broke building there. (We use `gomobile` to build a library that we use on iOS.)

Here are the errors I get running `GOARCH=arm64 go build` in my project that uses this library:

[code]

The last error looks like a pretty simple variable name typo, but I'm not sure what the

[2016-12-23 22:56] lemire commented on #89
We definitively want to support all platforms.

[2016-12-23 22:58] lemire commented on #89
@glycerine want to have a look?

[2016-12-23 23:15] glycerine commented on #89
sure, just sec

[2016-12-23 23:33] #89 closed

[2016-12-23 23:35] lemire commented on #89
@cvermilion  Please verify that this issue has been fixed.

[2016-12-26 23:26] cvermilion commented on #89
@lemire Looks good to me! I was about to suggest that you add cross-compilation to CI, too, but then I saw you already tackled that in #91. Thanks for the quick fix!

[2016-12-26 23:31] lemire commented on #89
@cvermilion  To be fair, the issue was fixed by @glycerine not me. :-)

[2017-01-06 23:30] brentp opened #92 "ContainsRange ?"
I was trying to use `roaring.Bitmap` in place of an interval tree when I dont want to recover the interval, I just want to see if there's overlap.

This works OK, but suffers because I have to either run `Contains` for each base in my query interval or to create a new Bitmap for each query interval and then use `AddRange` and then `Intersects`

a ContainsRange, could have several optimizations to

[2017-01-06 23:34] brentp commented on #92
See: https://gist.github.com/brentp/fecdc6d1c16cde4992d96d7c7a205166

[2017-01-07 02:28] lemire commented on #92
My first instinct, when facing performance problems, is not to increase the API size, but to try to see where the bottleneck is.

Here is what I get out of your benchmark on my laptop, copying and pasting your code...

[code]

So it looks like ``BenchmarkBuildRBTree`` is quite a bit better than ``BenchmarkBuildRoaring``.

Why might this be? Let us profile it out...

[code]

[code]

So... we are sp

[2017-01-07 02:44] brentp commented on #92
Thanks for the analysis. I was more concerned with the Query time than the creation.

Re this:

that side-steps what the benchmark is trying to do. It's a lazy way to simulate `missed` random intervals that are less likely to have an overlap. Since it's random inside another random loop, I just made it do the same thing `missed` times.

Regardless, yes, I agree this could be a nice optimization.

[2017-01-07 05:18] lemire commented on #92
@brentp

To be clear, I understood that part. The point of my change was to demonstrate that the performance problem was tied to the creation of many temporary objects.

[2017-01-11 21:47] lemire opened #93 "Port fast Range operations from Java"
https://github.com/RoaringBitmap/RoaringBitmap/pull/133

[2017-01-11 21:48] lemire opened #94 "Add allocation-free iterators"
Currently, iterators are implemented by instantiating sub-iterators that run over the containers. This approach requires us to create many more temporary objects than necessary.

A much simpler approach is the one taken by the CRoaring library where no memory allocation is done...
https://github.com/RoaringBitmap/CRoaring/blob/master/src/roaring.c#L1156

This should reduce the amount of code and r

[2017-01-12 18:20] lemire opened #95 "Add functions to quickly compute the largest and smallest element of the roaring bitmap"

[2017-01-17 14:48] lemire opened #96 "Move some of the code to internal packages"
https://docs.google.com/document/d/1e8kOo3r51b2BWtTs_1uADIA5djfXhPT36s6eHVRIvaU/edit

[2017-01-17 15:32] lemire opened #97 "When available, use intrinsics"
Recent Go versions have an intrinsic (Ctz64) for computing trailing zeroes. It is used internally, and compiled to a fast machine instruction. Sadly it does not seem accessible for end-users of the language in Go 1. Maybe things will change in Go 2.

[2017-01-31 21:47] lemire opened #98 "bitset + array intersection should be branchless"
Our current bitset+array intersection code looks like this...

[code]

This has the potential for numerous mispredicted branches (each with > 10 cycles of penalty).

The C library (CRoaring) uses a much faster branchless approach...
[code]

Of course, this is only faster when the result of the "contains" query is unpredictable (so it would help when the bitset container has difficult-to-predict co

[2017-02-03 00:11] lemire opened #99 "Add support for subset queries"
Currently, ``CRoaring`` supports "is a subset" queries:

https://github.com/RoaringBitmap/CRoaring/blob/master/include/roaring/roaring.h#L329

This should be added to ``roaring``.

[2017-02-14 19:19] lemire commented on #98
Resolved with latest commit.

[2017-02-14 19:19] #98 closed

[2017-03-17 01:17] lemire commented on #46
Resolved as per this commit : https://github.com/RoaringBitmap/roaring/commit/8a91ca43880d9ef48f8f28750f1fb4c65e29c509

[2017-03-17 01:17] #46 closed

[2017-03-17 01:18] lemire commented on #40
Resolved as of this commit https://github.com/RoaringBitmap/roaring/commit/8a91ca43880d9ef48f8f28750f1fb4c65e29c509

[2017-03-17 01:18] #40 closed

[2017-03-17 01:29] lemire commented on #67
Resolved fully as per this commit : https://github.com/RoaringBitmap/roaring/commit/0fb960e76661d5b9abec99c0dd1fe29daa16d9e8

[2017-03-17 01:29] #67 closed

[2017-03-17 19:01] lemire commented on #95
Resolved https://github.com/RoaringBitmap/roaring/commit/06961f1f69d7c9795390b08b00b40907d8503eee

[2017-03-17 19:01] #95 closed

[2017-05-03 13:42] lemire opened #100 "implement fast run-array "equal" comparison"
See https://github.com/RoaringBitmap/CRoaring/issues/99

[2017-06-15 15:30] glycerine opened #101 "new go1.9 math/bits package"
The go 1.9 beta 1, out today, in its release notes, says

references:

https://github.com/golang/go/blob/master/src/math/bits/bits.go

https://github.com/golang/go/issues/18616

Comment: For many if not all of these bit operations, roaring already has optimized implementations of them. Nonetheless, at a future point once go1.9 has become standard, it may be beneficial in terms of portability and p

[2017-06-15 16:54] lemire commented on #101
Related to https://github.com/RoaringBitmap/roaring/issues/97

[2017-07-15 08:36] nochso opened #102 "Simple go get also fetches real-roaring-datasets"
Running `go get -v github.com/RoaringBitmap/roaring` also clones `https://github.com/RoaringBitmap/real-roaring-datasets` even though I didn't use `go get -t`.

In my opinion it should only be fetched when using `go get -t`. Perhaps you could remove it from `.gitmodules` and simply import it in your tests?

It would be nice to avoid the 120MB of ZIP files when merely using this package.

[2017-07-15 13:58] lemire commented on #102
Good observation. Do you have an idea on how to make this work?

We have that real-roaring-datasets is not a Go package, so it never gets imported.

I suppose we could create a Go package that includes real-roaring-datasets and provide some functions only needed as part of the tests?

[2017-07-15 14:17] lemire commented on #102
cc @glycerine

[2017-07-15 14:50] nochso commented on #102
I can't find any mention or use of the datasets. They're fetched, but that's it. Might as well remove it from `.gitmodules` but keep it in the makefile?

[2017-07-15 14:53] lemire commented on #102
You are right. Let us remove them.

[2017-07-15 14:54] glycerine commented on #102
This does seem undesirable. I seem to recall that I moved them into their own repo, and perhaps we had concerns at that point about backwards compatibility, but I see no reason not to separate them if possible.

[2017-07-15 14:54] lemire commented on #102
Right. So I am going to delete the submodule.

[2017-07-15 14:58] lemire commented on #102
Ok. I am closing this as the issue should be resolved. Reopen if there is an issue remaining.

[2017-07-15 14:58] #102 closed

[2017-07-15 15:04] nochso commented on #102
After deleting anything under RoaringBitmap a `go get` was fast and tests pass.

Thank you.

[2017-08-25 00:20] lemire commented on #97
Closing as it appears to be a duplicate of https://github.com/RoaringBitmap/roaring/issues/101

[2017-08-25 00:20] #97 closed

[2017-08-25 00:20] lemire commented on #101
Go 1.9 is out!

[2017-08-25 00:23] lemire commented on #101
Anybody wants to have a look?

The harder part, it seems, would be to run benchmarks to make sure that we do improve the performance.

Ideally, if we could get rid of our assembly... that'd be great.

https://golang.org/pkg/math/bits/

[2017-08-29 13:38] lemire commented on #101
Resolved.

[2017-08-29 13:38] #101 closed

[2017-09-12 22:42] lemire opened #105 "Avoid unnecessary container allocations"
In many instances, especially when computing intersections, we generate empty containers that are immediately garbage collected.

There are clever tricks we could use to start scanning the input containers, advance up to the point where there might be values to be intersected, and bail out without generating an empty container if the intersection is empty.

[2017-10-16 11:39] maciej opened #106 "*arrayContainer.iorArray() always results in conversion to bitmap containers"
When computing a union of two array containers both array containers are converted to bitmap containers first, see [arraycontainer.go:342](https://github.com/RoaringBitmap/roaring/blob/master/arraycontainer.go#L342).
Intuitively it seems to be sub-optimal. In the Java roaring implementation a different approach is used ([see code](https://github.com/RoaringBitmap/RoaringBitmap/blob/master/roaringb

[2017-10-16 12:05] lemire commented on #106
Yes, it is likely true that this particular code can be improved. Of course, one needs to benchmark the result.

Want to take a stab at it?

[2017-10-16 13:18] maciej commented on #106
Yes, I'll look into that whenever I have the time.

[2017-10-21 15:33] #38 closed

[2017-10-21 15:52] lemire opened #110 "ParAnd should have O(N) complexity where N is the number of containers"
It seems that the current ParAnd implementation has O(N log(B)) complexity where N is the number of containers and B is the number of bitmaps. It should be possible to ensure that the complexity is O(N).

cc @maciej

[2017-10-23 21:12] lemire commented on #110
In particular, if you intersect one empty bitmap with lots of non-empty bitmap, the algorithm should quickly return the empty set, without doing much merging.

[2017-10-25 10:01] maciej opened #113 "Benchmark Or functions computing union of ~100 large sparse bitmaps"
The goal of this task is to write benchmark that will take ~100 generated sparse bitmaps and compute their unions using existing aggregation methods: `ParOr`, `FastOr`, …

[2017-10-25 10:06] maciej opened #114 "Remove unnecessary type conversions"
[unconvert](https://github.com/mdempsky/unconvert) indicates the following type conversions as unnecessary:
[code]

I'll issue a PR removing them.

[2017-10-25 11:41] maciej opened #116 "No-copy bitmap creation on existing memory area"
It should be possible to create a `roaring.Bitmap` from a memory buffer (a `byte[]`) containing a memory-mapped serialised Roaring Bitmap, if the [RoaringFormatSpec](https://github.com/RoaringBitmap/RoaringFormatSpec) was used. Unlike `Bitmap.ReadFrom(io.Reader)` it would not copy the input data.

I think the method might not be portable across every architecture / host system. It would use [refle

[2017-10-25 11:59] lemire commented on #116
Yes. Our Java implementation allows this though the result is immutable.

[2017-10-25 12:28] maciej opened #117 "ParOr: be smarter in determining the result container"
`ParOr` considers all containers at key _k_ in a single loop. Currently when `orFunc` is called we instantly create a bitmap container.
We could, instead, try computing the sum of cardinalities for all containers at _k_ and if its less than 4096 use an array container as the result.

This issue is also related to #106.

[2017-10-25 12:38] maciej commented on #116
I think it'd be safe if this method would also produce an immutable `roaring.Bitmap`. I'm hoping this would be achievable by using the current copy-on-write functionality.

[2017-10-25 12:39] lemire commented on #116
That’s a good point.

[2017-10-25 15:14] maciej commented on #116
I've started working on this one. The development branch is [here](https://github.com/maciej/roaring/commits/roaring-116).

[2017-10-25 16:35] lemire commented on #116
Great news. It is valuable work.

[2017-10-25 17:55] lemire commented on #117
If you consider containers that are well represented using runs, then converting to a bitmap container is a terrible thing to do. So there is definitively trade-offs involved.

[2017-10-25 18:38] lemire commented on #113
Right. I have written a naive benchmark... https://github.com/lemire/gobitmapbenchmark It is not good enough to assess performance seriously.

One needs to balance such benchmarks with benchmarks where we have long runs of values.  That is, we need to test all container types, and their interactions.

We have a fairly complete benchmark that we use for both the C and Java version :

https://github

[2017-10-25 18:41] #114 closed

[2017-10-25 18:53] lemire commented on #114
It would be nice to include these tests in our ``Makefile``.

[2017-10-26 10:50] maciej commented on #114
I'll open another ticket for that.

[2017-10-26 10:51] maciej opened #118 "Add `make unconvert` target"
Add a make target running [unconvert](https://github.com/mdempsky/unconvert) on the codebase. This helps finding unnecessary type conversions.

See also #114

[2017-10-26 12:09] maciej commented on #116
Working on this I've noticed the memory format of serialised run containers is different to how run containers (`runContainer16`) are represented in this implementation.

For now I guess I'll resort to copying the and changing the length fields to "last" fields, but ideally I think we'd want `runContainer16` implementation to change.

One thing to remember is that this would likely break the _msgp

[2017-10-26 14:26] glycerine commented on #116
I implemented the `msgpack` serialization as a temporary stopgap before doing the roaring standard serialization since the roaring hadn't been fully spec-ed out yet; then later when Daniel fleshed out the spec we went back and did that; which is nice since it matches the other Roaring language bindings. So I don't think its a big deal to change the msgpack. But then I'm not using the msgpack prese

[2017-10-26 15:14] maciej commented on #116
@glycerine thanks for a getting back to me on that quickly!

I'd be also for dropping msgpack support altogether.

The native serialization format is much superior in terms of performance. In Java roaring implementation (I think the same is also true for C), you can create a roaring bitmap (`ImmutableRoaringBitmap` instance) without any memory copies. _mmap_ a file from disk and you have the bitma

[2017-10-26 17:49] lemire commented on #116
We can document the break and, of course, increment the version accordingly.

[2017-10-26 20:15] lemire commented on #114
Great.

[2017-10-28 19:42] maciej opened #122 "Align internal run container representation with serialized format"
Currently run container data is represented as an `[]interval16`, which is defined as
[code]
This differs from the representation of a serialized bitmap as described [here](https://github.com/RoaringBitmap/RoaringFormatSpec). In effect it makes it hard/impossible to implement no-copy bitmap reading. I propose changing this representation to address that.

See also #116 and discussion in #37.

[2017-10-31 20:30] #116 closed

[2017-10-31 20:43] lemire commented on #122
👍

[2017-11-03 21:58] cakey opened #123 "Faster Bulk Next() and Add()"
Hey!
Great library! Big fan of the research you put out :)

We've been starting to use roaring for much faster union/intersection operations, but we've found that a big bottleneck for us has been creating those recordsets, and then iterating through them after the operations.
Internally we've had a lot of success implementing bulk creation and iteration functions - to avoid unnecessary per row wor

[2017-11-04 01:09] lemire commented on #123
Evidently, we are always happy to receive contributions. Anything that you use in an actual application with good results should make it into our code. At a minimum, we should make sure that you can get the features you need without any need of maintaining a private fork (something that is not good for anyone).

Let us chat.

I'd break your contributions into two distinct ones.

First, it seems th

[2017-11-04 01:11] lemire commented on #123
c.c. @maciej @glycerine

[2017-11-04 02:13] cakey commented on #123
@lemire Thanks for the thorough response. Absolutely not tied to any of the names we're currently using. Here are some benchmarks for `addMany` I quickly whipped up, forgive the randomness here - not ideal, but the general trend of the numbers holds up across runs.

[code]

1% density
[code]

So in an apples to apples comparison (same overall inputs) we see a 3-4x speedup.
In a more realistic scen

[2017-11-04 14:26] lemire commented on #123
Thanks! I love hard numbers!

[2017-11-04 22:32] cakey commented on #123
### Next rows

Again, forgive the rough benchmarks here, and point out any mistakes I've made.
[code]

[code]

So ~16x on rle, ~3.5x on array, ~2.5x on bitmap

In practise these numbers are worst case for us, as dealing with the rows in blocks helps speed up our code also.

(the bitmap nextrows is very naively implemented, hence the extra memory pressure, I'd fix this when upstreaming, and likely

[2017-11-05 12:31] glycerine commented on #123
Awesome. Wow, that is significant. This is great work. I'd just like to encourage you to polish it and submit a PR it so roaring can be improved for all users.  When I wrote the RLE part of roaring in Go, we established correctness with extensive tests, but there was/is still performance tuning that can and should be done. So thanks for doing this!

[2017-11-06 20:52] cakey commented on #123
Implemented a smarter nextRows for bitmaps:

[code]
Memory is much better, and its up to ~3.5x

I'll put together a PR in the near future.

I'm not entirely decided on the interface.

`AddManySeqNew` is only useful when initially creating a roaring.Bitmap - so perhaps hiding it behind some kind of builder is better:
[code]
It's kinda ugly though

As for `nextRows(buf)` - `nextMany(buf)`?

Also, it

[2017-11-07 03:13] lemire commented on #123
I agree with @glycerine.

I would support this.

Again, though I will not get into bikeshedding about exactly how things should be named, we have no concept of rows in our API, so it is probably best not to use the term, I think ``nextMany`` is nice and consistent.

Yes.

Some naive thoughts:
- ``AddManySeqNew`` should really create a new bitmap, it looks to me like a version of [``BitmapOf``](htt

[2017-11-07 16:19] maciej commented on #123
I completely agree with what was said here.

`NextMany` would be great to have!

I don't understand why `AddManySequential` needs `bufhigh` and `buflow` split? Can't it just accept a `[]uint32` like `AddMany` (assuming ascending order)? Would that impact it's performance?

[2017-11-07 16:21] lemire commented on #123
@maciej  That's a very good question. I am somewhat puzzled by the split between low and high.

[2017-11-07 18:19] cakey commented on #123
Cool, I'll start with a PR for `NextMany` as the interface is less up in the air. :)

We want the ability to construct the bitmap in multiple chunks, I'm not sure how to do that without the function being a method on bitmap itself, or as part of a builder.
There's always something like `BitmapOfSequential(func ([]uint32))` that calls your function until there are no more values.

We saw better per

[2017-11-07 20:49] lemire commented on #123
@cakey

What is wrong with the following...

        r := BitmapOfSequential(buf1)
        r.addManySequential(buf2)
        r.addManySequential(buf3)

This is not rhetorical, I'd like to better understand your point of view.

[2017-11-07 21:18] maciej commented on #123
@cakey I was pretty curious about how would a `BitmapOfSequential([]uint32)` perform and I wrote a small piece of code that does what I image would be more or less what your code is doing. It's available [here](https://github.com/maciej/roaring/commit/44bf60c56d9865b58356a1f892d62ef6bf2cfcb7).

The benchmarks are not somehow worse than what you showed (1% density):
[code]

which makes me even more

[2017-11-08 03:15] cakey commented on #123
@lemire Nothing wrong with that if `r := BitmapOfSequential(buf1)` is essentially just sugar for `r := roaring.NewBitmap(); r.addManySequential()` One of the main performance wins is being able to assume that there are no values in the roar larger than any in buf, so we know we can always append in the array case, or avoid recomputing the cardinality in the bitmap case.

@maciej
Ah, I didn't reali

[2017-11-08 09:43] maciej commented on #123
@cakey ok, now looking at your implementation the performance gains seem obvious. If you can copy _subslice_ from the input `lows` slice – it's always going to be faster. My function has to split every `uint32`; there is no way around it.
Does your system produce the input as already split highs and lows? For me it seems a somehow unlikely case to have the input data already available in such form

[2017-11-16 00:23] prateek opened #125 "Discussion: allowing pooling of bitmaps"
The current implementation does a lot of allocations so it'd be beneficial to allow pooling of bitmaps. This'd amortise the cost of allocations for long running applications.

Something like:

[code]

The motivation for this was this benchmark:

[code]

[2017-11-16 00:24] prateek commented on #125
Would there be any interest in supporting a change to make pooling possible?

[2017-11-16 01:02] lemire commented on #125
@prateek  At a glance, this sounds helpful and reasonable.

cc @maciej @cornelk

[2017-11-16 10:03] maciej commented on #125
Look good.

@prateek are you planning to submit a PR with this change?

[2017-11-30 15:43] maciej commented on #122
I've started working on this in [maciej/rle-branch](https://github.com/maciej/roaring/tree/rle-len). My implementation plan is as follows:
- [x] introduce _length_ field to the existing `interval16` struct
- [ ] rewrite `interval16` struct creation in test code to be using `newInterval16FromStartLast` function instead
- [ ] progressively fix tests and code up to a point where tests pass with the b

[2017-11-30 15:54] lemire commented on #122
Excellent.

[2017-12-22 04:49] glycerine commented on #122
Well I suppose it would be the acme of foolishness to point out that it would be faster to just add another serialization format option that does match the [start, last] format and do reader-makes-right lazy correction only if needed (here I duck the flying tomatoes :)

Either way I wish this effort well. I know that it is a big effort.  I found it much easier to reason about [start, last] when ge

[2017-12-22 08:59] maciej commented on #122
@glycerine thank you for the pieces of advice! As I'll move forward with the code I'll certainly use them. :-)

Yes, if Go roaring was the only implementation and cross-language and backward compatibility was not an issue I'd definitely consider changing the spec. It's not the case, though. There are multiple implementation, another revision of the spec would need to be published. Conversion tools

[2017-12-22 17:20] lemire commented on #122
It is slightly unfortunate that we cannot automate these more thorough tests. Having the developer hack the tests on his/her local machine is not ideal.

[2018-01-09 14:58] #122 closed

[2018-01-28 13:57] pwaller opened #136 "Support 64-bit indices?"
If it isn't already (- I may have missed it), are there any plans to support 64 bit indices ala `Roaring64NavigableMap` from the java implementation? Is it hard to do in practice?

[2018-01-28 16:21] lemire commented on #136
To my knowledge, there is no ongoing work nor any plan in this respect. Pull Requests invited.

[2018-01-31 13:55] maciej commented on #136
@pwaller it's a topic that has been discussed recently on Gophers Slack #performance channel: https://gophers.slack.com/archives/C0VP8EF3R/p1516279819000174
You can follow the discussion to see the current state of Go Roaring implementations and their support for 64bit values or workarounds for lack of.

@e-dard also expressed interest in 64bit values in Roaring bitmaps. Perhaps with a lot of inte

[2018-01-31 14:17] maciej commented on #47
@lemire I was looking at some of the older issues and found this one. Is support for _inverse_ array containers still considered? Could we close this issue if not?

[2018-01-31 14:23] lemire commented on #136
@maciej Thanks for correcting me.

[2018-01-31 17:27] lemire commented on #47
I think that this issue could be closed, yes. Do you support closing it?

[2018-01-31 17:52] brentp commented on #47
closing

[2018-01-31 17:52] #47 closed

[2018-02-01 15:10] maciej commented on #113
I think #137 covers that well enough.

[2018-02-01 16:33] lemire commented on #113
Indeed.

[2018-02-01 16:33] #113 closed

[2018-02-02 09:42] maciej opened #138 "FastOr produces unnecessary garbage"
This is due to the fact that a new bitmap is created on every `bitmap1.lazyOR(bitmap2)` operation.
Ideally we should only modify `bitmap1`.

There is even a note in the code to optimize it:
[code]

In cases, like when benchmarked with _dimension_003_ dataset which has ~15k bitmaps the cost of creating new bitmaps far outweighs the cost of the per-container union operation ([see profile, PDF file](

[2018-02-02 17:48] maciej opened #140 "Parallel aggregation: split work by ranges of container keys"
Currently all work handed of to goroutines handling container-level aggregation is prepared in the caller goroutine  by picking a new _work unit_ from a heap. Private benchmarks (I hope to replicate the results using the public datasets) show that operating on the heap takes a fair amount of time limiting the parallelism level and taking CPU time that could otherwise be spent on the aggregation. E

[2018-02-04 03:59] anacrolix opened #141 "Expose 0x100000000"
Several methods (like RemoveRange), take a non-inclusive upper bound that must be 0x100000000 to get the effect of >= begin (`[begin, inf]`). It would be helpful if this value was exposed, as passing -1, or 0, MaxUint32 or MaxUint64 will not have the desired effect.

[2018-02-04 04:08] anacrolix opened #142 "Empty/zero value containers"
New{,Bitmap} makes 2 heap allocations that become very costly when dealing with [a lot of Bitmap](https://github.com/anacrolix/torrent/blob/master/torrent.go#L119) allocations, these allocations occur even for empty Bitmaps. I have a [wrapper](https://github.com/anacrolix/missinggo/blob/master/bitmap/bitmap.go#L22) that avoids these allocations where possible, by providing a lazy initialized Bitma

[2018-02-05 10:13] maciej commented on #141
@anacrolix I'm sorry, I'm afraid I don't understand you. Could you provide some example code to illustrate the issue?

[2018-02-05 10:13] maciej commented on #142
@anacrolix you're aiming at cutting the allocations from 2 to 1, that's correct?

[2018-02-05 10:18] anacrolix commented on #142
No, to zero unless bits are set. See the referred wrapper package.

[2018-02-05 10:45] maciej commented on #142
OK, from what I understand you're storing the struct by value as opposed to by reference in the parent structure. I don't see a reason why you couldn't do it with `roaring.Bitmap`.

BTW unless I'm doing my benchmarks wrong, `roaring.New()` is actually doing only a single allocation:

[code]

[code]

[2018-02-06 09:23] maciej opened #144 "Consider loop tiling/unrolling for *bitmapContainer.lazyIORArray"
CRoaring counterpart of the `*bitmapContainer.lazyIORArray` processes 4 array elements in one loop iteration, see [bitset_util.c](https://github.com/RoaringBitmap/CRoaring/blob/f4720d05bc9620b003bd89d46fdf98d718ea7811/src/bitset_util.c#L761)

Experiment with using the same technique here.

[2018-02-06 10:22] maciej commented on #140
I've implemented a straw-man version of this algorithm [here](https://github.com/RoaringBitmap/roaring/compare/master...maciej:par2), note that the diff also contains changes in #139, #143 and #145.

The benchmark results are mixed:
[code]

[2018-02-06 11:48] anacrolix commented on #141
If you read https://github.com/RoaringBitmap/roaring/blob/master/roaring.go#L1069 you will see the only way to remove math.MaxUint32 is to pass 0x1000000 as a uint64. This is also pointed out in the method doc. Passing any other value will result in uint32 truncation to a rangeEnd-1 that was not intended.

[2018-02-06 11:50] anacrolix commented on #142
It's not that it's by value, it's that it's lazily allocating to the heap. Also you may want to add that BenchmarkNewBitmap to the standard benchmarks.

[2018-02-06 12:03] anacrolix commented on #141
That should be `0x100000000`. See this:

[code]

[2018-02-06 17:55] lemire commented on #141
I think all we need to do is to check whether the upper range exceeds 0x100000000. I'll prepare a commit.

[2018-02-06 18:13] lemire commented on #141
The following test now passes:
[code]

[2018-02-06 18:13] #141 closed

[2018-02-06 18:55] lemire commented on #142
I have added benchmarks.

[code]

So creating a Roaring bitmap is about 6x slower than creating an empty slice on my particular system with this benchmark.

It does not sound insanely inefficient. A slice is a simpler thing.

I'm not sure how much the library could/should do here. If you have objects and you expect most of them to be unused... you could just have them initialized as ``nil`` and on

[2018-02-06 21:28] #138 closed

[2018-02-06 21:31] lemire opened #146 "Tests should be written using one uniform idiom"
We have Convey tests, go1.7 subtests, and basic tests. It works fine, but it is a bit unpleasant.

[2018-02-06 22:48] lemire commented on #144
Yes. It is a form of unrolling that the compiler might not do.

[2018-02-06 22:49] lemire opened #147 "CRoaring uses 4-wise binary search, experiments in Go roaring"
In C, this binary search function proved useful...

[code]
https://github.com/RoaringBitmap/CRoaring/blob/master/src/array_util.c#L695-L717

[2018-03-05 20:15] maciej commented on #140
After tweaking how the algorithm tunes itself in terms of key range splitting I'm getting consistently better results compared to the current `ParOr` implementation:
[code]

[2018-03-06 00:01] cakey commented on #140
Internally on our benchmarks when unioning a ton of small bitmaps, we saw a lot of overhead from maintaining the heap. We got better performance by special casing all small bitmaps (e.g. < 500 cardinality) and then directly NextMany/AddMany those values, and then ParOr'ing the remainder bitmaps that have actually expensive unions.

Perhaps worth looking into?

[2018-03-06 01:25] lemire commented on #140
@cakey   If  NextMany/AddMany is faster than ``FastAggregator.or``, then I would consider this to be a performance bug. Can you please open an issue?

[2018-03-06 01:26] lemire commented on #140
@maciej  These numbers are great.

[2018-03-06 02:14] cakey commented on #140
@lemire Sure I'll see if I can reproduce with a simple benchmark.

[2018-03-06 02:25] lemire commented on #140
@cakey  And, to be clear, roaring does support in-place operations. Please benchmark against these: https://github.com/RoaringBitmap/roaring/blob/master/fastaggregation.go#L156-L194

[2018-03-06 15:58] maciej commented on #140
@cakey perhaps you'd be interested in giving a try of the new algorithm. I tentatively called the function "ParNaiveOr". It's available at [my roaring fork, branch par2](https://github.com/RoaringBitmap/roaring/compare/master...maciej:par2). I'd be curious if it's faster not only with the public dataset we're using but also in real-world systems. :-)

[2018-03-06 18:44] dmlyons opened #151 "Example Code won't run"
// computes union of the three bitmaps in parallel using 4 workers
    ParOr(4, rb1, rb2, rb3)
    // computes intersection of the three bitmaps in parallel using 4 workers
    ParAnd(4, rb1, rb2, rb3)

should be

    // computes union of the three bitmaps in parallel using 4 workers
    roaring.ParOr(4, rb1, rb2, rb3)
    // computes intersection of the three bitmaps in parallel using 4 workers

[2018-03-06 19:57] lemire commented on #151
Thanks. The curse of copy-paste.

[2018-03-06 19:57] #151 closed

[2018-03-06 20:28] dmlyons commented on #151
Thanks!

[2018-03-07 01:44] cakey opened #152 "NextMany/AddMany is faster then FastOr in some cases"
[code]

[code]

The relative performances vary wildly when you tweak maxCount, domain, and bitmapCount.
`HeapOr` and `ParOr` are also slower in this case.
Also if i make the buffer size 0, it doesn't affect next/add performance by much.

[2018-03-07 01:48] lemire commented on #152
I marked this as a performance bug. If I read this right, it should not be happening.

[2018-03-07 01:50] lemire commented on #152
c.c. @maciej

[2018-03-07 08:54] maciej commented on #152
My guess is that the performance in case of `FastOr` is worse because it's tuned for somehow denser bitmaps. Containers taking part in the union are converted to bitmap containers, see https://github.com/RoaringBitmap/roaring/blob/master/fastaggregation.go#L36. That would explain the huge amount of allocs in `fast` benchmark case. For reference, the pull request that it was introduced in is #107.

[2018-03-07 09:44] maciej commented on #152
Sadly for most cases the conversion is necessary. Removing it hits performance very hard:

[code]

[2018-03-07 13:51] lemire commented on #152
Ok. So we have non-trivial performance bug, it seems.

[2018-03-07 15:01] maciej commented on #152
I think that the best course of action now would be to introduce @cakey's benchmark for `FastOr` into the standard benchmark suite.
If we want to improve on `FastOr` we need to have a baseline for a case where it's not as fast as it could.

[2018-03-07 15:52] lemire commented on #152
@maciej  Want to add it?

[2018-03-07 16:09] maciej commented on #152
Sure! Will do sometime in the next few days!

[2018-03-07 19:14] cakey commented on #152
Can we use the cardinalities of the containers as a heuristic for when to convert?

[2018-03-07 20:32] cakey commented on #152
@lemire I mean during FastOr - Perhaps only doing the conversion if the card of the container > 64.

Hard to make it work in all cases of course, if that container would eventually become dense through the unions, then you would have wanted to convert to bitmap asap

[2018-03-07 21:38] lemire commented on #152
@cakey @maciej

I pushed the benchmark to GitHub.

[code]

I think that the right approach would be for the two-by-two approach to have an actual in-place implementation.

It might not be realistic to make FastOr cover this case, but the two-by-two approach could be made faster. This is not hard to implement, we have good implementations in Java and C.

[2018-03-07 22:39] lemire commented on #152
It seems like I am correct.

[2018-03-07 22:41] lemire commented on #152
Latest results:

[code]

[2018-03-07 22:48] lemire commented on #152
Issue fixed. I'll create a new release.

Please keep reporting unexpected performance issues.

[2018-03-07 22:48] #152 closed

[2018-03-09 19:05] mschoch opened #153 "fatal error: fault starting with commit d6540aa"
We just started seeing this (first in travis CI environment, and reproduced locally as well) after this commit: d6540aab65a17321470b1661bfc52da1823871e9

[code]

I'll try to dig up more context about what we're actually doing with roaring when this happens, but the same code works with earlier commits.

[2018-03-09 20:25] mschoch commented on #153
I don't have a whole lot to add yet, roughly what we're doing is the following:

- many roaring bitmaps previously serialized to disk
- these roarings are mmap'd read-only and used
- at the point of this particular failure, we are building a new roaring, and OR'ing it with some of these mmap'd roarings

My attempt to create a stand-alone unit test that reproduces the failure has so far been unsucc

[2018-03-09 20:36] lemire commented on #153
Well. Then, at least, is my fault. So it simplifies things a bit!!!

Now... what did I do wrong...

[2018-03-09 21:40] lemire commented on #153
Flagged this as both a bug and a priority.

[2018-03-09 22:03] maciej commented on #153
@lemire I guess
at line 781 in roaring.go
https://github.com/RoaringBitmap/roaring/commit/d6540aab65a17321470b1661bfc52da1823871e9#diff-afacbf604114c3eccfff5658e0a1a72bR781

[code]

on the left side of the tor should be `getWriteableContainerAtIndex`

let me submit a PR.

[2018-03-09 22:07] lemire commented on #153
@maciej

Ok. Let us go with that!

Then, assuming that it is the correct fix, let us chat about the fact that our tests did not flag this bug.

[2018-03-09 22:11] lemire commented on #153
@mschoch Can check that the PR https://github.com/RoaringBitmap/roaring/pull/154 fixed your issue.

We will close once you verify the fix.

Then we will worry about the fact that our unit tests are insufficient.

[2018-03-10 04:29] mschoch commented on #153
This appears to fix the problem.  Thanks for the quick analysis and fix, we appreciate it!

[2018-03-11 05:40] lemire commented on #153
+1

[2018-03-11 05:40] #153 closed

[2018-03-11 05:43] lemire opened #155 "Add unit tests to validate memory-file mapping implementations"
As demonstrated by this bug report... our unit tests fail to cover the scenario where the input bitmaps have been memory mapped (and are immutable):

https://github.com/RoaringBitmap/roaring/issues/153#issuecomment-372001802

This is a serious quality-assurance issue that we should fix. I am marking this as a priority.

Thankfully, it is not super hard to do.

[2018-03-12 17:21] lemire opened #157 "Clean out conserz []containerSerz in roaringArray struct"
Our ``roaringArray`` struct has a fake ``conserz []containerSerz`` array that is used only to satisfy msgp's requirements during message unpacking. Though it solves the problem at hand with minimal harm, it is not very elegant.

I think we could probably do something more elegant.

c.c. @glycerine

[2018-03-14 00:22] lemire opened #158 "document performance benefits of "Bitmap.Clear() retains preallocated slices for faster future ops""
Though we merged this PR https://github.com/RoaringBitmap/roaring/pull/156 we are relying on @steveyen's word that it significantly speeds things up.  I think we want actual hard numbers.

[2018-03-14 02:10] steveyen commented on #158
doing some cross-linking - https://github.com/RoaringBitmap/roaring/pull/159

[2018-03-14 02:11] lemire commented on #158
Great.

[2018-03-14 02:11] #158 closed

[2018-03-14 02:38] lemire commented on #155
Maybe not perfectly solved, but we do test memory-mapped bitmaps now.

[2018-03-14 02:38] #155 closed

[2018-03-20 16:00] lemire opened #160 "Test deserialization with adversarial inputs"
We have input files ``crashproneinput1``, ..., ``crashproneinput7``  that have been engineered to stress the deserialization routines (make the program crash).

https://github.com/RoaringBitmap/CRoaring/tree/master/tests/testdata

We should include them in our unit tests.

[2018-03-21 18:58] maciej commented on #160
We should remember to test both `FromBuffer` and `ReadFrom` functions!

[2018-03-22 00:24] lemire commented on #160
Indeed.

[2018-03-22 15:24] lemire opened #161 "Implement faster and more convenient "intersects with interval" checks"
Currently, if I want to test whether a bitmap has values contained in an interval, I have to do something ugly like this:
[code]
This is not optimal, if only because we have to create a temporary bitmap.

[2018-03-22 23:41] lemire commented on #161
Implemented in Java https://github.com/RoaringBitmap/RoaringBitmap/pull/236

[2018-03-30 18:15] lemire commented on #105
Example:

[code]

[2018-03-30 18:17] lemire opened #162 "Implement ``isEmpty`` at the container level"
Currently, we check the cardinality to verify that containers are not empty. We could streamline the code and, in some cases, accelerate it with a ``isEmtpy`` method.

[code]

[2018-03-30 18:32] steveyen opened #163 "WriteTo() optimization ideas?"
It appears the current implementation of Bitmap.WriteTo() isn't very much different than the user instead calling ToBytes() and invoking io.Writer.Write() itself...
  https://github.com/RoaringBitmap/roaring/blob/master/roaringarray.go#L526

Was wondering if there are approaches or ideas that might help avoid the "extra" toBytes() allocation?

I'd be willing to give an improvement an attempt if it

[2018-03-30 18:40] lemire commented on #163
The bulk of the time in the ``toBytes`` function is going to be spent there:

[code]

https://github.com/RoaringBitmap/roaring/blob/master/roaringarray.go#L512-L518

(Of course, one should do actual profiling... results could vary depending on your application.)

I don't think it is hard to pull out this code from the ``toBytes`` function and do something more direct with it.

It is less obvious t

[2018-03-30 20:56] steveyen commented on #163
Indeed -- that's the pattern we've been following in blevesearch, and it's been quite a beneficial trick to play again and again.

So true!!

[2018-04-01 02:11] lemire commented on #163
I marked this "help wanted". I think that this is an accessible problem for contributions.

[2018-04-02 19:57] lemire commented on #56
The benchmark has been extended considerably: see https://github.com/lemire/gobitmapbenchmark

The Go version of Roaring fares well. In fact, I am now preoccupied with the performance of the C version.

[2018-04-02 19:58] lemire commented on #80
The benchmark against the C version of Roaring has been extended considerably: see https://github.com/lemire/gobitmapbenchmark

[2018-04-03 19:43] maciej opened #165 "Drop msgpack"
As discussed in the ticket related to `Bitmap.FromBuffer` implementation we wanted to remove msgpack integration. msgpack was used as a stop-gap solution for serializing bitmaps before RoaringFormatSpec was implemented for run containers.

This *will* break API compatibility, which in turn breaks Go [import compatibility rule](https://research.swtch.com/vgo-import). I vote for making this change n

[2018-04-03 21:13] lemire commented on #165
I agree but let us launch a call-for-comments and wait at least a few days to see if there are objections.

Ping @0x4139 @bpot @brentp @glycerine @cornelk @statik @steveyen @willglynn

[2018-04-03 21:18] lemire commented on #165
Ping @tgruben @dgryski

[2018-04-03 22:03] dgryski commented on #160
Go-fuzz will also help with finding inputs with bad behaviour.

[2018-04-04 00:02] dgryski commented on #165
From my point of view (having read over some commits and some bugs), I think it's probably fine to remove.  It's effectively non-standard; the current documentation warns about its experimental status. A quick GitHub search shows no other repositories using that function.  The hits that it does find are vendored copies of this roaring code.  As the behaviour isn't subtly changing, it's an *obvious

[2018-04-04 05:51] dgryski commented on #160
In `fuzz.go` (or equivalent)

[code]

Note that because there's already a `Fuzz` function defined for `smat`, we need to pass a flag to `go-fuzz-build` to get it to call this one instead:

[code]

I applied the following patch to remove the `panic` and return an error instead:
[code]

A few minutes of fuzzing produced some slice index out of bounds and a program hang.  I seeded the corpus with the

[2018-04-04 06:38] maciej opened #167 "ParHeapOr, ParAnd: avoid allocations while using sync.Pool"
[staticcheck](https://staticcheck.io/docs/staticcheck) reports
[code]
docs for this issue can be found here: https://github.com/dominikh/go-tools/blob/master/cmd/staticcheck/docs/checks/SA6002

[2018-04-04 06:40] maciej opened #168 "TestParAggregations should test different parallelism levels"
Currently `TestParAggregations` runs tests in `ParAnd` & `ParOr` only with parallelism level set to 0. I'd suggest testing at least 3 levels instead: 1, 2, 4. That would avoid subtle bugs that manifest themselves only on one of those levels as seen here #164.

[2018-04-04 06:56] maciej opened #169 "Validate bitmap cardinality in BenchmarkRealData* functions"
I think it makes sense to validate bitmap cardinality in `BenchmarkRealData*` functions. In some rare cases the `aggregation_test.go` test suite does not reveal subtle bugs that could be introduced while working on wide union functions. Typically such work is done to improve performance and benchmarks are run as part of it. So even though `BenchmarkRealData*` is not part of test suite I think I'd

[2018-04-04 13:25] dgryski commented on #160
I will make a PR. Are you ok with changing the panics for error returns?

[2018-04-04 13:39] lemire commented on #160
I think we will agree that errors are better than panics... when you can expect the caller to do something useful.

[2018-04-04 13:56] lemire commented on #169
Agreed. Marking as "help wanted".

[2018-04-04 13:57] lemire commented on #168
Marking as "help wanted".

[2018-04-04 13:59] lemire commented on #165
@maciej How do you feel about @dgryski's deprecation idea? From the documentation:

This seems easy enough.

[2018-04-04 14:04] lemire commented on #167
Are we needlessly copying containers?

[2018-04-04 14:29] richardstartin commented on #169
Might you find some of these with invariance testing?

[2018-04-04 20:26] maciej commented on #169
@richardstartin very good point!

[2018-04-05 08:02] maciej commented on #165
@lemire it's a very reasonable thing to do! So, yes, let's first mark Msgpack-related functions as deprecated and in the next step remove them altogether!

[2018-04-05 08:06] maciej commented on #167
No, `ParOr` (soon to be `ParHeapOr`) and `ParAnd` needlessly allocate container slices. A slice is nothing more than a struct of pointer to array, length and capacity, no more than 3 int fields. It's a minor thing as you can see, however since it was marked by staticcheck (that @dgryski referred to in #165) I've opened a ticket to handle that.

[2018-04-05 18:17] lemire commented on #160
This is still open, see https://github.com/RoaringBitmap/roaring/pull/170#issuecomment-378858669 by @maciej

[2018-04-05 19:56] #160 closed

[2018-04-05 19:58] lemire opened #172 "Fix deserialization bug exposed by #171"
This new PR https://github.com/RoaringBitmap/roaring/pull/171 exposed some bugs in our deserialization code, in the sense that we do not cleanly return errors. This was expected as these are adversarial inputs... but we should still fix it.

[2018-04-05 19:58] lemire commented on #160
Reopened as a distinct issue:

https://github.com/RoaringBitmap/roaring/issues/172

[2018-04-05 20:52] lemire opened #174 "Test adversarial inputs with ReadFrom"
This commit https://github.com/dgryski/roaring/commit/05e3e9aed7aa9b119a21f5dc86bf662ddb5bf541  added tests opening adversarial inputs with ``FromBuffer``, but we should test ``ReadFrom`` as well.

[2018-04-08 16:00] maciej commented on #172
I've changed the ticket title slightly removing the URI and using the # ticket number instead. :-)

[2018-04-09 18:18] lemire commented on #172
@maciej Your patch coupled with a sanity check seems to solve the problem. It should make the library safer to use all around. Great!

[2018-04-09 18:18] #172 closed

[2018-04-10 08:05] maciej commented on #172
@lemire thank you for amending the `FromBuffer` with the sanity check!

[2018-04-11 00:32] #174 closed

[2018-04-11 00:33] #168 closed

[2018-04-11 17:58] steveyen commented on #94
Hi roaring team,

I've run into this issue of GC pressure, too, in a roaring-based backend for the github.com/blevesearch/bleve full-text library.  The roaring library's already given some great perf gains, and we're looking for even more.  Reducing GC pressure has been a recurring perf dragon to slay.

Each term in a bleve inverted index is represented by a separate roaring bitmap, and during sea

[2018-04-11 18:13] steveyen commented on #94
Adding a link to issue https://github.com/RoaringBitmap/roaring/issues/125, as there's discussion there of also perhaps improving the Clear() implementation

[2018-04-11 20:36] lemire commented on #94
I expect that there is no harm in additive changes to the API. Thus we could create a new iterator approach.

The Java version of Roaring has ["flyweight" iterators](https://github.com/RoaringBitmap/RoaringBitmap/blob/master/roaringbitmap/src/main/java/org/roaringbitmap/IntIteratorFlyweight.java). I expect it does pretty much what you are doing.  Have you had a look at it?

The term flyweight seem

[2018-04-12 12:59] steveyen commented on #94
Sure, would be happy to get something going here.  And, thanks for the link to the java flyweight iterators -- following that pattern would also work.

Before I run that down, though, double-checking... the quick & dirty approach I had taken was by adding new methods of the same name to each of the various container/iterator implementations.

The flyweight approach, in contrast, seems to have less

[2018-04-12 14:25] lemire commented on #94
@steveyen

Yes, the approach used in Java (flyweight) requires tighter integration but I submit to you that it does a better job at achieving your objectives. I also submit to you that tight integration is not harmful in this instance.

The idea is that you create a flyweight iterator and once you have done so, no memory allocation is needed because you have one instance of each of the three possi

[2018-04-13 09:36] maciej opened #179 "Compare ParOr benchmarks between Go and Java Roaring"
Compare ParOr benchmarks between Go and Java Roaring parallel aggregation algorithms.

[2018-04-13 09:57] maciej commented on #94
Are allocation-heavy iterators still a problem now that we have `ManyIterator`?

[2018-04-13 14:47] lemire commented on #179
Hard to be as clever as @richardstartin ... ;-)

[2018-04-13 18:10] lemire commented on #94
@maciej I think it is an orthogonal issue.

Even with ``ManyIterator``, you need to create, and eventually garbage-collect, some kind of data structure. And this data structure generates other data structures like ``bitmapContainerManyIterator``. This does not cause too much trouble in microbenchmarks, but in real systems, you can end up spending a lot of time allocating and collecting iterators.

[2018-04-13 21:25] #140 closed

[2018-04-18 04:42] lemire commented on #165
@maciej Want to issue a PR?

[2018-04-18 08:25] maciej commented on #165
@lemire no, I'm leaving this for later. Whenever I have time I want try porting your SIMD optimisations from https://arxiv.org/abs/1709.07821.

I already looked at @stuartcarnie's roaring fork ([sgc-c2goasm](https://github.com/stuartcarnie/roaring/tree/sgc-c2goasm) branch). Unless he's interested in continuing the work I'd like to try picking it up from there. :-)

[2018-04-21 21:07] fzerorubigd opened #181 "is not safe to call RunOptimize() on some ReadFrom inputs"
Assuming any data is valid if loaded by ReadFrom , calling RunOptimize() should be safe. but for example in this case :

[code]
Result is :
[code]
also there was another panic (" panic: then fundamental arrayContainer assumption of sorted ac.content was broken ") for this payload (base64 of payload):
[code]

either
- My assumption is wrong
- or ReadFrom should validate input for "fundamental array

[2018-04-24 08:10] maciej commented on #181
That's correct. There are adversarial inputs that will be accepted by either `ReadFrom` or `FromBuffer` without warning and however will result in errors / panics when operating on them. However I don't think that we should harden `ReadFrom`/`FromBuffer` against every such input at the expense of performance. If there is a valid use case when potentially adversarial input is received from an untru

[2018-05-04 00:10] leepro opened #183 "AndCadinality doesn't return an expected result with larger intergers (1M)."
Hi,

I found some weird result with AndCadinality. As shown below,  b.AndCardinality(a) returns less than expected value (1000000). roaring.And(a,b).GetCardinality() works as expected.

With small number such as 100, 1000, AndCardinality works correctly. But with a bit larger number like 100000, 1000000 and so on, it returns less value than expected one.

Am I wrong with AndCardinality or is it a

[2018-05-04 00:38] leepro commented on #183
I replaced the part of code with AddRange. (I tried it with Flip too). Then AndCardinality returns 999066 all the time. But, with my original code (actual adding integers one by one), it returns 999077.

[2018-05-04 02:54] lemire commented on #183
If someone else wants to get to it first (hint, hint: @fzerorubigd @maciej) please do...

[2018-05-06 12:18] fzerorubigd commented on #183
After apply this fix, the output of the exact code is :

2018/05/06 16:47:15 a's last x=5498513, a's cardinality=1000000 (added 1M unique integers)
2018/05/06 16:47:15 created b with all 1's until 5498513
2018/05/06 16:47:15 b's cardinality=5498513
2018/05/06 16:47:15 b.AndCardinality(a) = 1000000
2018/05/06 16:47:15 a.AndCardinality(b) = 1000000
2018/05/06 16:47:15 And(a,b).GetCardinality()=10000

[2018-05-07 15:36] lemire commented on #183
Thanks for jumping on this.

[2018-05-07 17:59] lemire commented on #183
I'm issuing a second fix. Soon.

[2018-05-07 18:11] lemire commented on #183
Added unit tests. This issue should be definitively fixed.

[2018-05-23 17:22] lemire opened #185 "allow backward iteration (descending order)"
One should be able to iterate from the end to the beginning... in descending order...

This is implemented in the [Java version of Roaring](https://github.com/RoaringBitmap/RoaringBitmap).

http://static.javadoc.io/org.roaringbitmap/RoaringBitmap/0.7.10/org/roaringbitmap/RoaringBitmap.html#getReverseIntIterator--

[2018-05-24 20:56] lemire commented on #185
Implementation idea.

We have three container types... ``bitmapcontainer.go``, ``arraycontainer.go`` and ``rlei.go``. They currently implement ``shortIterable``:

[code]

[code]

This looks like a lot of code, but it is straight-forward if you realize that roaring is just an array of containers.

So we probably want to implement something like this at the container level...

[code]

And then this

[2018-05-24 20:58] lemire opened #186 "rle.go should be removed"
As per https://github.com/RoaringBitmap/roaring/issues/88, we have known for some time that the file ``rle.go`` is unneeded and untested. There seems to be no good reason to keep it.

If we delete it, we should delete all references to it (including references found in the Makefile).

[2018-05-24 20:59] lemire commented on #185
See https://github.com/RoaringBitmap/roaring/issues/186 regarding ```rle.go``.

[2018-05-24 21:01] lemire opened #187 "rlei.go and rle16.go should be merged into runcontainer.go"
There is no logical reason to have distinct files and given that we ``arraycontainer.go``, ``bitmapcontainer.go``... we should have ``runcontainer.go``. (The name of the struct is ``runContainer16`` so runcontainer16.go could also be a good choice.)

[2018-05-24 21:01] lemire commented on #186
See also https://github.com/RoaringBitmap/roaring/issues/187

[2018-05-24 21:04] lemire opened #188 "The *_gen.go files should go"
There seems to be no viable use for the ``DecodeMsg`` implementation found in ``arraycontainer_gen.go``, ``roaringarray_gen.go``, ``bitmapcontainer_gen_test.go``, ``roaringarray_gen_test.go``, and so on. Moreover, they are automatically generated so if someone must have them, they can generate them anew easily.

[2018-05-24 21:05] lemire commented on #188
See https://github.com/RoaringBitmap/roaring/issues/165

[2018-05-28 18:18] lemire commented on #186
Solved with last commit.

[2018-05-28 18:18] #186 closed

[2018-05-28 18:18] lemire commented on #187
Solved with last commit.

[2018-05-28 18:18] #187 closed

[2018-05-28 18:19] lemire commented on #185
I just did a reorg and all the run container stuff is now in ``runcontainer.go`` which should make it much easier to understand what is what. We had accumulated dead code that was unused by anyone. It was time to remove it.

[2018-05-28 18:26] lemire commented on #165
Marked as deprecated as of the last commit.

[2018-05-28 18:26] lemire commented on #188
All the functions that they contain have been marked as deprecated.

[2018-05-30 14:03] lemire opened #190 "Port from Java the addOffset function to allow fast bitmap concatenation"
https://github.com/RoaringBitmap/RoaringBitmap/commit/34950beb33f349bbfa84525c190a7c2e978f8feb

[2018-05-31 20:33] joenall opened #191 "reverseIterator hasNext() termination condition is incorrect"
It should be return si.loc >= 0
Pull request with updated tested in a few minutes

[2018-05-31 20:35] lemire commented on #191
I love bug reports that come with a promised pull request. Please include a test. :-)

[2018-06-05 03:39] lemire commented on #191
Fixed with PR.

[2018-06-05 03:39] #191 closed

[2018-06-05 03:49] lemire opened #193 "Roaring structs as value types"
Currently, all functions take Roaring objects as pointer types...

There is an unmerged (API breaking) pull request that allows you to use Roaring structs as value types instead of pointer types...

https://github.com/RoaringBitmap/roaring/pull/149

We have opted not to merge this PR since it breaks the API and that's just bad for our users.

It looks like it massively speeds things up... (see the

[2018-06-13 09:26] maciej opened #194 "WebAssembly support"
Go 1.11 [will introduce](https://tip.golang.org/doc/go1.11#wasm) experimental [WebAssembly](https://webassembly.org) support.
It might be a good idea to check if roaring can be compiled with WASM as target.

[2018-06-13 19:12] lemire commented on #194
Indeed, and it could be compared with https://github.com/SalvatorePreviti/roaring-wasm

cc @SalvatorePreviti

[2018-06-14 08:00] SalvatorePreviti commented on #194
Interesting. Didn't know this at all. The wasm should work as it is, once is compiled it should run everywhere is supported. Consider however that from my tests the WASM version is much slower than the native version, and it has no support for SSE4.2 and AVX2 of course. At the moment I am working on the NodeJS native port, I would like to go back and complete the wasm version in the future. You ca

[2018-07-11 22:37] lemire opened #198 "Add "hash function""
We need a  Checksum method that is dependent on the logical contents of the bitmap (i.e. is the same regardless of run optimization).

cc @bpot

[2018-07-19 18:17] bpot commented on #198
@lemire

did you have any thoughts about how to implement this efficiently? I haven't been able to come up with anything better than serializing and dumping to a hasher.

I played around with using iteration (including only iterating over lower bits) but that looks like it has more overhead right now than serialization. It seems like https://github.com/RoaringBitmap/roaring/issues/94 would help wi

[2018-07-19 19:40] lemire commented on #198
@bpot

Maybe we should define the problem better. What do you think that the user API interface should be? Just a single function ``Checksum`` with no parameter, or do you want to pass a hashing function?

[2018-07-26 04:05] #190 closed

[2018-08-09 17:34] lemire opened #202 "Unroll loops in bitmap-array OR function"
@e-dard Showed promising result out of this PR...
https://github.com/RoaringBitmap/roaring/pull/201#issuecomment-411823494

It seems he withdrew it, but there is value there.

[2018-08-09 20:46] e-dard commented on #202
@lemire sorry, I was just PRing into our company fork. But I picked the wrong base branch.

I’m happy to put a PR in upstream tomorrow.

[2018-08-10 13:06] lemire commented on #202
I think it would be interesting to investigate the one case where you got a performance regression. Other than that, we should consider merging your change.

[2018-08-20 16:53] lemire commented on #144
Solved.

[2018-08-20 16:53] #144 closed

[2018-09-01 04:28] AshKash opened #204 "Support for json encoding"
When *roaring.Bitmap is part of a struct that is serialized to JSON, it is empty `{}` and everything silently fails. Could this patch be included:
[code]

[2018-09-01 06:43] lemire commented on #204
Help need to review this.

cc @maciej  and others.

[2018-09-11 13:46] maciej commented on #204
@AshKash what would be the serialisation format? Would the bitmap be serialised to a JSON Array of numbers?

[2018-09-11 18:12] AshKash commented on #204
@maciej Go's JSON encoder serializes []byte to base64 encoded strings. This should be identical to calling rb.ToBas64() and encoding as string. This should be more compact than storing array of ints.

[2018-09-12 19:40] maciej commented on #204
I agree. If that's what users would expect – I'm in favour.

[2018-09-12 21:53] lemire commented on #204
Ok... waiting for the pull request.

[2018-09-13 16:33] AshKash commented on #204
Opened PR #205

[2018-09-28 05:53] oplehto opened #206 "Panic in LazyOR"
I experienced a panic in LazyOR when doing a Flux query in InfluxDB 1.7.0~n201809270800.
Unfortunately I was not able to replicate it so the best I can do at this point is to provide the trace:
https://gist.github.com/oplehto/285e688dbd1060019b5062f718193fda

The query in question was fairly data intensive:
[code]
over a database with a series cardinality of ~280 million. Typically these take a fe

[2018-09-28 05:57] maciej commented on #206
^^ @e-dard

[2018-09-28 08:10] maciej commented on #206
@oplehto I think it that it might be related to this change https://github.com/RoaringBitmap/roaring/pull/203/commits/1a1fe5577622c4f142703a296f35c23f3d9abdcf.

@e-dard does the `unsafe.Pointer` cast inside the loop work well with the garbage collector? Is that pointer rewritten if the GC decided to move the `arrayContainer.content`?

[2018-09-28 12:27] lemire commented on #206
The failure seems to occur at line 556:

This is a shift by an immediate. How can it panic?

[2018-09-28 12:42] lemire commented on #206
@oplehto Do you know which roaring release you are using? We need to know what is at the offending line if we are to have a chance to solve this issue.

I am not sure if it is done right now, but it should probably be done in any case: influxdb should depend on a fixed version of roaring.

[2018-09-28 17:02] oplehto commented on #206
Ah, should’ve noticed that it is indeed from a fork: https://github.com/influxdata/roaring/tree/fc520f41fab6dcece280e8d4853d87a09a67f9e0

If it seems that this is the likely cause of the issue I can follow up with the influxdb folks.

[2018-09-28 17:27] lemire commented on #206
Ok. I am going to close this, please reopen if you can trace it back to us.

[2018-09-28 17:27] #206 closed

[2018-10-26 18:18] lemire opened #207 "Implement rangeCardinality"
See Java feature:
https://github.com/RoaringBitmap/RoaringBitmap/issues/278

[2018-10-27 22:27] lemire opened #208 "Implement bit shift functions"
See http://bitmagic.io/dna-search.html

[2018-11-09 17:40] lemire opened #209 "Implement bidirectional iterators"
For CRoaring, @Brian-Esch implemented bidirectional iterators:

https://github.com/RoaringBitmap/CRoaring/pull/190

[2018-11-12 01:18] sirajmansour commented on #136
Now that this is supported in the java implementation, are there any plans to port it here :) ?

[2018-11-12 13:13] lemire commented on #136
We have certainly not received any pull request. I am not aware of any public development on this front, though I think Pilosa has a 64-bit implementation and it is certainly open source.

[2019-01-09 01:56] akrylysov opened #213 "ReverseIterator is broken in some cases"
[code]
In the example above I expect ReverseIterator to iterate all values but it iterates only a few of them:
[code]

[2019-01-09 15:10] joenall commented on #213
I can duplicate this and will look at it today.

[2019-01-09 15:12] lemire commented on #213
@joenall Thanks Joe. Meanwhile, I have created a failing test:
https://github.com/RoaringBitmap/roaring/commit/02ea23d55f7d67a771302d1b046b97716370fbea

[2019-01-09 15:13] lemire commented on #213
Assigned to @joenall

[2019-01-10 02:35] joenall commented on #213
Should be fixed in current pull request.

[2019-01-10 14:41] lemire commented on #213
Closing.

[2019-01-10 14:41] #213 closed

[2019-01-10 14:42] akrylysov commented on #213
Thank you!

[2019-01-11 15:53] fjorgemota commented on #198
I'm not @bpot but I think a simple function like `Checksum` would be acceptable, if it returns the same content independent of the order (which always occurs because bitmaps are always "ordered") and optimizations applied. It would be even better if the returned number is something simple, like a `uint64` or static byte array, so we can map roaring bitmaps by the checksum (I use this to avoid redu

[2019-01-11 16:13] fjorgemota commented on #105
hmmm When I read this issue I was thinking about reusing containers, which would may help here too.

I mean, when roaring decides to automatically optimize a container (like on `iAddReturnMinimized` method, for example), it discards the old container without any chance to reuse it in the future, so on a dynamic environment, if someone calls `Remove` on that same bitmap the recently created contain

[2019-01-11 17:14] lemire commented on #105
@fjorgemota Yes, this is sensible, but one would like to see actual performance gains in realistic scenarios.

[2019-01-11 17:33] lemire commented on #198
@fjorgemota You can probably easily avoid the iterator by delegating the production of a hash value to the containers. It would be faster and generate fewer allocations.

[2019-01-11 20:08] fjorgemota commented on #105
Oh, for sure. Only benchmarks to test these sort of things. And for sure no-allocation (like in the algorithm for intersections) is always better than one allocation here and there using pools. :)

[2019-01-11 20:35] fjorgemota commented on #198
Yeah, that would be a good idea.

[2019-01-16 16:49] lemire opened #215 "Implement and benchmark shotgun intersection"
In some cases, we should be able to greatly improve the performance of array-array intersections. See [Faster intersections between sorted arrays with shotgun](https://lemire.me/blog/2019/01/16/faster-intersections-between-sorted-arrays-with-shotgun/).

[2019-01-23 18:14] steveyen commented on #55
Looks like that link to the java iterator example is broken?  Newer link: https://github.com/RoaringBitmap/RoaringBitmap/blob/master/roaringbitmap/src/main/java/org/roaringbitmap/PeekableIntIterator.java

[2019-01-23 18:16] lemire commented on #55
Updated link.

[2019-01-23 18:19] steveyen commented on #55
As an application usage example, the bleve full-text library would likely have use for a skip-ahead or advance-able iterator method.  It currently has that brute force for-loop that calls HasNext/Next(), not really doing anything meaningful with the interim values...

https://github.com/blevesearch/bleve/blob/master/index/scorch/segment/zap/posting.go#L659

[2019-01-23 18:35] lemire commented on #55
I have marked this as a priority.

It is *not* difficult to implement.

[2019-02-26 09:35] azurenake commented on #198
Is there any plan to ship this feature?

[2019-02-26 13:00] maciej commented on #198
@azurenake there is no open pull request for that feature. Feel free to submit one.

[2019-02-26 13:02] lemire commented on #198
It is not very hard and we have plenty of people who could review and help. It is a good issue for someone who has some time and wants to contribute.

[2019-03-12 17:57] pwaller opened #216 "Request: please add a go.mod file"
Hi! Great project.

I have a quick request, please could you add a `go.mod` to the root of your repository? Doing so significantly reduces the number of dependencies that my own project must list in its `go.mod`. If roaring lacks a `go.mod`, then my `go.mod` ends up including all of your transitive dependencies, including those through tests. It's a bit counter intuitive, but the inclusion of indi

[2019-03-12 18:59] lemire commented on #216
Hopefully resolved now. Thanks for the clear and detailed instructions. Reopen if things do not look right.

[2019-03-12 18:59] #216 closed

[2019-03-12 20:17] pwaller commented on #216
Thanks for the speedy fix @lemire! One last thing, if isn't too much trouble, a fix release tag (0.4.17) would be appreciated, so that the version can be referenced neatly.

Another useful command for you to know is that `go get` now manages the module rather than your `$GOPATH`, and it understands specific versions, so if you want to choose a specific version you can say `go get github.com/org/re

[2019-03-12 21:02] lemire commented on #216
I just tagged a release 0.4.17.

[2019-03-12 21:02] lemire commented on #216
This is progress, evidently.

[2019-06-04 12:30] abusizhishen commented on #204
i need this support,because i need to serialize bitmap to save it in redis

[2019-06-04 19:55] lemire commented on #204
@abusizhishen Do you want to help out with the PR? The code has been written, but we won't merge it until someone has written tests for it.

Regarding Redis, there is a Roaring module for it...
https://github.com/aviggiano/redis-roaring

[2019-06-05 11:28] maciej commented on #204
@abusizhishen you can use any of the existing serialisation: the default binary format (with https://godoc.org/github.com/RoaringBitmap/roaring#Bitmap.ToBytes) or base64 (https://godoc.org/github.com/RoaringBitmap/roaring#Bitmap.ToBase64). Redis accepts binary data.

[2019-06-05 13:18] lemire commented on #204
To add to what @maciej wrote, performance is going to be better if you ingest binary data. Going through JSON is almost surely slower.

(Though [you can parse JSON very quickly](https://github.com/lemire/simdjson), I doubt that Redis uses such optimizations.)

[2019-06-08 23:04] jacksonrnewhouse opened #219 "Fatal errors on the output of Or() when the input files were mmapped, array containers"
Ran into this issue in production, where we tend to produce bitsets by Mmapping files, calling And() or Or() on them, and then releasing the bytes back. In *very* rare circumstances it seems that the result of Or(a, b) keeps a reference to the backing []byte slice. We saw this happen 2 times out of over 250,000 Or() calls.

I've opened a PR in my fork of this repo at https://github.com/jacksonrnew

[2019-06-09 00:35] lemire commented on #219
This should be a priority.

[2019-06-10 14:10] maciej commented on #219
That is correct. `Or(*Bitmap, *Bitmap)` will not create copies to containers that have not changed. Each of those containers will be marked for copy-on-write (see `needCopyOnWrite` slice in `roaringArray`).

In case of the bitmaps you presented it's the last one:
[code]

[code]

I would argue this to be correct behaviour.

However if I understand your use case you want to obtain a bitmap that does

[2019-06-10 16:49] jacksonrnewhouse commented on #219
What about a call like `flushCopyOnWrite()` that copies any containers with it still marked? This would accommodate my use case, be a tell op when not necessary and not change existing behavior.

[2019-06-10 17:58] lemire commented on #219
Given two `newRb1` and `newRb2` memory-mapped, you can do...

[code]

Both `rbor2` and `rbor3` should not depend on the memory-mapped bytes. Of course, this creates copies, some of them are unnecessary. It would make sense to add a `flushCopyOnWrite` or `Unshadow` function.

Thoughts?

[2019-06-10 18:02] lemire commented on #219
I don't think that's correct. A Clone calls depends on `copyOnWrite` which defaults to `false`.

[2019-06-10 18:42] jacksonrnewhouse commented on #219
@lemire, yeah cloning both bitmaps works, but seems sort of wasteful given that 99.99% of the time the containers will already not be backed by the memory-mapped bytes. If I'm required to Clone() to safely make use of a memory-mapped bitmap then I should probably just be constructing the bitmap through reading the file.

The FlushCopyOnWrite() method allows me to only perform these operations when

[2019-06-10 21:40] lemire commented on #219
I agree with you.

I think FlushCopyOnWrite is unintuitive as a name. But the functionality is right.

[2019-06-10 23:57] lemire commented on #219
Fixed thanks to a PR by @jacksonrnewhouse

[2019-06-11 12:25] maciej commented on #219
I'm closing this ticket.

[2019-06-11 12:25] #219 closed

[2019-06-14 01:48] jacksonrnewhouse commented on #181
I believe this happens because ReadFrom does not actually inspect the contents of the containers at all, instead just passing references to the slices that represent the contents. This allows initialization to be O(containers), rather than O(cardinality), and I'd imagine we couldn't validate the contents without a significant overhead.

[2019-07-14 18:52] HowJMay commented on #208
Does this one still need help?

[2019-07-15 14:36] lemire commented on #208
It does still need help... See that Java implementation...

https://github.com/RoaringBitmap/RoaringBitmap/blob/master/RoaringBitmap/src/main/java/org/roaringbitmap/RoaringBitmap.java#L195-L264

[2019-07-15 16:46] HowJMay commented on #208
Sorry I can't get the point why the link you provided (the bitmagic one) has connection to the code you provided. May I ask you for more explaination?

[2019-07-15 17:09] lemire commented on #208
@HowJMay It is not very important for someone doing the implementation, except for the fact that it illustrates the motivation for the work... where a shift followed by an AND allows you to compute important results.

[2019-07-16 16:53] HowJMay commented on #208
Sorry I have roughly browsed the code. I found there is an existed implementation of `addOffset`.
So I should use the java implementation to replace the existed implementation?

[2019-07-16 17:24] lemire commented on #208
Right... So the current Go implementation allows you to add a positive value... but it is less general than the Java version where the offset can be negative. So we still need help, but you are correct that we have part of the support already.

[2019-08-05 06:01] jacksonrnewhouse opened #224 "Inlining in 1.12.7 breaks arrayContainer methods"
I ran into buggy behavior when trying to move from 1.11.5 to 1.12.7, which was surprising. Even more surprising, the bugs never manifested when running through the debugger, and went away when I added additional logging. I eventually discovered that running with `gcflags="-l"` made the bugs disappear. I've created a test case that fails and an amazonlinux Dockerfile that'll trigger the bug at http

[2019-08-05 14:59] lemire commented on #224
I looked at your example... `byteSliceAsUint16Slice` does not make a copy, it is just pointer based. You have it point at an slice that is likely to be deleted or garbage collected. The result is undefined.

So I don't think that, as written, your code illustrates a bug in roaring.

[2019-08-05 14:59] #224 closed

[2019-08-05 15:02] lemire commented on #224
This is used by `FromBuffer` which has the same characteristic: it does not make a copy. They are meant to be used with care: the caller is responsible to ensure that the byte array remains available and unchanged.

[2019-08-05 22:42] jacksonrnewhouse commented on #224
The byte array needs to be available and unchanged until the containing struct is no longer needed. However, if the compiler is able to inline things such that the function is inlined into where the []byte is initialized then you can get errors. https://golang.org/pkg/reflect/#SliceHeader warns about this with "the Data field is not sufficient to guarantee the data it references will not be garbag

[2019-08-06 13:38] lemire commented on #224
@jacksonrnewhouse

I'm all for making things safer if you have an idea...

What would be the scope of `runtime.KeepAlive`? You are returning a pointer to a slice/array... if, at any point, the slice/array gets garbage collected or otherwise invalidated... then the pointer will become invalid. The problem is not limited to the scope of one function.

[2019-08-08 00:25] jacksonrnewhouse commented on #224
I think you need to construct a "a separate, correctly typed pointer" before you free the input slice. So something like
[code]
From reading of the runtime code, I don't expect this to incur any performance penalty. It should still be able to be inlined, for instance.

[2019-08-08 12:27] lemire commented on #224
Here is what I think happens.

You have a slice that holds a region of memory A.

You construct a pointer to the memory region A.

The 'slice' goes out of scope. Go reclaims the memory region A.

You are left with a pointer that may point at the old data, or not... it depends on how quickly Go and/or the system makes use of the memory region. It may even be unmapped at any time.

[2019-08-09 08:23] jacksonrnewhouse commented on #224
Yep, that sounds right. I'm gonna open a PR that uses keepalive to prevent it.

[2019-08-13 14:45] lemire opened #228 "Create a new bitmap structure that is value-based as opposed to interface-based"
This incomplete PR outlined potential performance gains when replacing interface/reference containers with value-based containers. The performance difference would be particularly notable for users creating many small bitmaps. This would require a new API that could be created.

https://github.com/RoaringBitmap/roaring/pull/149

[2019-08-31 09:40] alldroll commented on #146
I would like to take this issue. Does anyone have any objections if I will use Convey tests as a uniform test framework? I found it ideal for this package.

[2019-08-31 13:18] lemire commented on #146
Let us discuss this.

Hopefully, you can explain to me what I am missing. I will give you my point of view. Please understand that my opinion is just one opinion and that I am quite willing to admit that I am wrong.

The primary use for tests, for me, is CI. So the tests run and if one fails, I need to look at the log (online, in a remote container). On rare occasions, when we add tests, or must i

[2019-08-31 13:21] lemire commented on #146
Please have a look at the CI output...

https://travis-ci.org/RoaringBitmap/roaring/jobs/570086262

Convey really harms the usability... I cannot even understand what it is try to tell us... there are randomly located question marks... I basically try hard to ignore the Convey output...

[2019-08-31 18:27] alldroll commented on #146
I can see where you're coming from, and definitely you are right that Standard Go tests can satisfy all package's needs. I was thinking about it too, go's tests have the ability to use subtests, sub benchmarks, and what really could help to use it is assert helpers such as https://github.com/stretchr/testify.  What do you think about it?

[2019-08-31 22:10] lemire commented on #146
I agree.

[2019-09-09 21:48] glycerine commented on #146
`go test -convey-silent` should quiet the console.

[2019-09-09 22:33] lemire commented on #146
@glycerine This certainly invalidate part of my criticism...

[2019-09-11 17:17] hyprnick commented on #136
@lemire Any suggestions on how best to approach getting this added?  I use this project but have not looked at the internals.  Thanks!

[2019-09-11 22:34] lemire commented on #136
@hyprnick

1. We have Java and C++ implementations. If you read these languages I can point you to them...

2. Pilosa’s own implementation of roaring handles 64-bit keys...

So there are implementations one can study and learn from...

We also have an academic paper... in French... https://r-libre.teluq.ca/930/1/Roaring64bits.pdf

[2019-09-13 16:17] #146 closed

[2019-09-13 16:18] lemire commented on #146
Fixed by @alldroll

[2019-09-20 23:05] cryptix opened #236 "Select() returns different values after calling RunOptimize()"
I supplied a test case for this issue with some example data in PR #235.

Just wanted to make sure that PR isn't a new test, it's a reproduction of a bug that I would like to have fixed or work around.

[2019-09-25 21:11] lemire commented on #236
Fixed : https://github.com/RoaringBitmap/roaring/pull/238

New release issued.

Reopen if you can't verify.

[2019-09-25 21:11] #236 closed

[2019-09-26 09:59] cryptix commented on #236
Yup, this is resolved! Thanks for the quick fix.

[2019-10-01 23:18] bored-engineer opened #242 "Expand on "Goroutine safety" section of README"
It would be great if the [Goroutine Safety](https://github.com/RoaringBitmap/roaring#goroutine-safety) section of the README.md about what operations are currently goroutine-safe, even/especially if that's not a guarantee that they will remain thread-safe moving forward.

For example, if bitmap `rb1` is created, optimized, and never written to again (or has appropriate locking), can it be safely u

[2019-10-02 00:36] bored-engineer commented on #242
I took a look at the [Or](https://github.com/RoaringBitmap/roaring/blob/ef1f54b597d2447c90b6801915da89e47ba8093d/roaring.go#L924) method for example and any operations that occur on `x2` to see if they are unsafe:
[code]
The call to [size](https://github.com/RoaringBitmap/roaring/blob/ef1f54b597d2447c90b6801915da89e47ba8093d/roaringarray.go#L393) is just a `len` operation which should be safe:
[co

[2019-10-02 01:19] bored-engineer commented on #242
Perhaps the easiest solution here would be to verify which of the package level functions are safe for concurrent use on a bitmap:
[code]
Then we can extrapolate that the receiver versions of them are safe as well for the bitmap passed in as a parameter (obviously they are not safe for the receiver itself)

[2019-10-02 14:21] lemire commented on #242
@bored-engineer

This is a good idea. I would expect that all operations that generate a new bitmap do not modify the input bitmaps.

We need to check the effect of copy-and-write.

How do you propose we go forward?

[2019-10-02 15:47] bored-engineer commented on #242
@lemire do you expect that to be guaranteed moving forward (excluding major version bumps)? If so I think it probably makes more sense to add it to the godoc for each method explicitly mentioning which arguments are safe for concurrent reads. If not, I think the README is a more appropriate place with a nice disclaimer that this won't always be true but is as of today. Once we have a list of verif

[2019-10-02 15:58] lemire commented on #242
@bored-engineer The godoc approach sounds good.  The README should be modified to point the reader to the godoc.

I would qualify safe/unsafe with respect to the value of copyOnWrite. A call to Clone, if you do not use copy-on-write, is just a full copy and thus entirely thread safe/concurrent.

It seems to me that there are two very distinct use cases. There are people relying on copy-on-write an

[2019-10-02 18:40] bored-engineer commented on #242
Sounds good, will do that once we have a finalized list of methods.

Let me restate this just to make sure I understand it: We should update the docs to indicate which methods are safe for concurrent reads, except with a special note that if `GetCopyOnWrite()` is `true` the user must take extra care to prevent any write actions to the originally cloned bitmap as well as the current bitmap for the

[2019-10-02 18:54] lemire commented on #242
I think we are in agreement.

I was just stating my expectation: we should verify. However, there is only so much state we can change when taking bitmaps as inputs and returning a new bitmap. I can’t think of any except for issues with copy-on-write.

[2019-10-03 07:42] lemire commented on #242
Another option would be to create a dedicated type or new side-effect free functions.

Anyhow, documentation would be a step forward.

[2019-12-17 09:13] alldroll opened #243 "Fuzz testing"
One of the most primary types of test we use to ensure that the library works well is unit testing.
We can't rely on only these tests, as there is a big probability of human errors.

[Fuzz testing](https://github.com/dvyukov/go-fuzz) is a good candidate which could help us to make the package more tolerant to randomized/invalid data inputs.

[2019-12-17 14:08] lemire commented on #243
Want to issue a PR?

[2019-12-17 14:13] alldroll commented on #243
@lemire I would like to!

[2020-02-06 23:29] joeblubaugh opened #244 "AndNot has different results depending on the relative length of the operands."
Minimal code to reproduce:
[code]

Output:
[code]

https://play.golang.org/p/QRWB9_snDay

[2020-02-06 23:48] joeblubaugh commented on #244
this is a set theory misunderstanding on my part

[2020-02-06 23:48] #244 closed

[2020-04-06 16:17] lemire commented on #99
It is also present in Java.

[2020-05-15 08:08] evanoberholster commented on #136
Is there any process on a 64bit version?

[2020-05-15 14:29] lemire commented on #136
I still have it as a work-in-progress. Are you interested in helping?

[2020-05-17 00:22] evanoberholster commented on #136
@lemire Thanks for asking. Unfortunately I don't think that I have enough experience to implement what needs to still be done.

[2020-05-21 10:53] lemmerelassal opened #251 "How can you tell when a bitmap is ready to be read from?"
Hi!

I've noticed that this:

`func calculateBitSetChecksum(dest *checksumStruct, bitmap map[string]uint, imageAsBaseSixtyFour string, numberOfPixels int) {

	for i := 0; i < len(imageAsBaseSixtyFour)-numberOfPixels; i++ {
		dest.checksum.Add(uint32(bitmap[imageAsBaseSixtyFour[i:(i+numberOfPixels)]]))
	}
	dest.checksumReady = true
}`

This is run in a go routine, and later on I want to do some ope

[2020-05-21 12:23] lemire commented on #251
As far as I can tell from your comment, you are using unsafe Go code, and the issue you are pointing out is not related to `roaring`. It is important to understand what it is not because checsumReady has been set to true that the previous code has been executed. But the Go compiler and the processor will reorder or run at the same time instructions. It is not related to `roaring`: the same might h

[2020-05-28 03:37] yingfeng opened #252 "Does there exist an efficient approach to convert between 64bit roaring and 32bit roaring?"
We've met a situation that the conversion between 64bit roaring and 32bit roaring needs to be computed very fast. Currently, we can only use a naive solution that during iterating one bitmap while inserting into the other at the same time, which is pretty time consuming given a high bitmap cardinality. Is it possible to provide an efficient approach such that the conversion could be performed inte

[2020-05-28 15:02] lemire commented on #252
I do not understand this issue. Can you provide a sample Go code that you are using?

[2020-05-29 01:52] yingfeng commented on #252
[code]

This code snippet is used to extract ids from source roaring bitmap(eg 64bit roaring), and then insert to target roaring bitmap after the type conversion (eg 32bit roaring).

The overhead is pretty high, any suggestions to make this precedure accelerated?

[2020-05-29 12:34] lemire commented on #252
What is a 64-bit roaring bitmap? There is no such thing in the library right now.

[2020-05-29 13:49] yingfeng commented on #252
Oh, sorry,
I use the [pilosa fork](https://github.com/pilosa/pilosa/tree/master/roaring) of the go roaring which provides the 64bit bitmap ...

[2020-05-29 14:00] lemire commented on #252
Right. So the question is how to go from Pilosa to the roaring implementation in this repo, here, is that correct?

[2020-05-29 14:16] yingfeng commented on #252
Using the WIP 64bit solution of this repo, could the conversion between 32bit and 64bit roaring have a faster approach?

[2020-05-29 21:11] lemire commented on #252
Yeah... but the WIP is a WIP. We need help with it to make sure it meets people’s needs. Could you help?

[2020-07-16 18:29] #136 closed

[2020-07-22 16:33] jacksonrnewhouse opened #260 "Implement BSI Addition"
Bit Slice Indexes basically provide a map[int]int with some very fast operations. One operation that can be implemented against BSIs is addition, which basically sums up the values by key for two BSI's. This can be entirely accomplished using bitwise arithmetic. The primary functions you need are addToValues(*Bitmap) and addDigit(*Bitmap, int). pseudo-code for the inplace versions is something lik

[2020-07-22 16:38] jacksonrnewhouse opened #261 "Implement in-place xOrProduceAnd()"
The pseudocode for addDigit in https://github.com/RoaringBitmap/roaring/issues/260
includes the two lines
[code]
And and Xor do basically the same operations. In both they iterate forward through the container keys, comparing them, then making a decision about should happen at each step. This could be optimized by doing both operations in a single pass. I'm not sure the best name for the method, b

[2020-07-22 16:42] lemire commented on #261
This is an example of a ternary logical operation.

I agree.

[2020-07-26 01:03] jacksonrnewhouse commented on #261
I've given this some more thought, and I'm not sure a single method like that is the right approach. If you're trying to do addition with minimal allocation I think you want something that can do an add over the whole sequence of digits, performing container-level carries as necessary. Having gotten into the weeds of the various in-place And/Or/Xor I think there might be a clean way to do this, an

[2020-07-28 17:47] lemire commented on #193
cc @jacksonrnewhouse

[2020-07-28 18:14] lemire opened #264 "Create low-allocation immutable Roaring bitmaps"
Some users have a many bitmaps on disk. Loading them up temporarily for operations is expensive due in part to the new to allocate new instances.

Related PR https://github.com/RoaringBitmap/roaring/pull/263

Also related to issue https://github.com/RoaringBitmap/roaring/issues/193

cc @guymolinari @jacksonrnewhouse

[2020-07-28 18:50] joenall commented on #264
That is our use case. We have many bitmaps in many boltdbs on disk. Bitmaps have about 100M bits. The whole collection has a up to ~6B objects that are indexed, but none of the shards have more than 32 bit indices.

[2020-07-28 20:51] lemire commented on #264
@joenall Thanks for chiming in. It is really important to document the use case to motivate a public solution.

[2020-08-04 23:37] jacksonrnewhouse opened #265 "Reduce repeated copies in in-place Or() method"
Looking at allocations in roaring, I noticed that anytime you Or() on a copyOnWrite arraycontainer with another arraycontainer you end up doing two copies. The problematic line is https://github.com/RoaringBitmap/roaring/blob/c0e59bbf1874e4bacf2bbe3dcdf316e911055f80/roaring.go#L1009. First, getWritableContainerAtIndex() calls clone() on the arrayContainer. Then, the following ior() call will alway

[2020-08-05 00:26] lemire commented on #265
Yes. One could extend the ior, iand, ... functions so that they can take in shared containers and then process them accordingly in a more optimized manner. Obviously, this will entail a bit of extra code (maybe 100 extra lines).

The hard part is to design a benchmark that would check whether this is beneficial.

[2020-08-05 18:15] lemire commented on #265
Let me elaborate. The implementation is easy. I can do it in five minutes. What is hard is the benchmark. And without a benchmark, it is useless to try to optimize.

[2020-08-21 09:26] zhangkyou opened #266 "Big int issue"
`rb1 := roaring64.BitmapOf(12345, 5764607714248818780)`
`fmt.Println(rb1.String())`

it ouputs:
rb1:  {12345,87963168866396}

Is the 64-bit dosen't work?

[2020-08-21 15:27] #266 closed, assigned to guymolinari

[2020-09-09 00:15] guymolinari commented on #260
This has been implemented.  I am preparing a pull request with this and some other enhancements.

[2020-09-09 00:27] lemire commented on #260
@guymolinari Did you close the issue deliberately ?

[2020-09-09 19:32] guymolinari commented on #260
I am testing the new feature now and will submit a pull request.  But Yes.

On Tue, Sep 8, 2020, 8:28 PM Daniel Lemire <notifications@github.com> wrote:

[2020-09-09 19:46] lemire commented on #260
@guymolinari My proposal is to reopen the issue and close it when the PR will have been merged. Less confusing that way.

[2020-09-10 00:20] guymolinari commented on #260
Sounds good.  Didn't know the process.   My apologies.

On Wed, Sep 9, 2020, 3:46 PM Daniel Lemire <notifications@github.com> wrote:

[2020-09-10 00:23] lemire commented on #260
Do not apologize.

I have reopened the issue.

When creating a pull request, add "Fixes https://github.com/RoaringBitmap/roaring/issues/260" as part of your description. This will link the issue with the PR. You can also link the issue explicitly by entering it the addresses at the right locations in the web pages.

[2020-09-10 00:32] guymolinari commented on #260
Cool.  I have written unit test coverage of the new features.   Just wanted
to do some more application testing for good measure.

On Wed, Sep 9, 2020, 8:23 PM Daniel Lemire <notifications@github.com> wrote:

[2020-09-25 10:37] JinLingChristopher opened #270 "String method print -1 for maxUint64 ?"
`    rb1 := roaring64.BitmapOf(1, 2, 3, 4, 5, 100, 1000, math.MaxInt64)

	rb1.Add(math.MaxUint64)
	fmt.Println(rb1.String())

	if rb1.Contains(math.MaxInt64) {
		fmt.Println("Yes")
	} else {
		fmt.Println("No")
	}
`

As shown above, Contains can find MaxInt64, but cannot be print by the String method?

Is this a bug for the String method?

[2020-09-25 10:44] JinLingChristopher commented on #270
In my. personal opinion, line 199 and 209 in roaring64.go should be changed:

`
buffer.WriteString(strconv.FormatInt(int64(i.Next()), 10))
`
->

`
buffer.WriteString(strconv.FormatUint(uint64(i.Next()), 10))
`

[2020-09-25 11:46] lemire commented on #270
@JinLingChristopher Are you willing to issue a pull request ?

I expect that you are correct.

cc @guymolinari

[2020-09-27 02:17] JinLingChristopher commented on #270
I will fix this today, let me do it.

[2020-09-28 17:39] lemire commented on #270
Fixed by the reporter. Thanks!

[2020-09-28 17:39] #270 closed

[2020-09-28 21:42] #260 closed

[2020-09-28 21:42] lemire commented on #260
Issue resolved by @guymolinari

[2020-10-07 12:22] AskAlexSharov opened #272 "How to split large bitmap to chunks of serializedSizeInBytes=4Kb?"

[2020-10-09 20:07] lemire commented on #272
I am going to close this issue because it is too vague. I invite you to open a new issue with more details.

- If you think that there is a bug, don't please provide a detailed explanation.
- If you'd want to propose a new feature, please describe fully the feature and/or propose a pull request.

If you have questions about Roaring bitmaps, please make sure you first read our published work... e.g

[2020-10-09 20:07] #272 closed

[2020-10-10 09:08] AskAlexSharov opened #273 "How to split large bitmap to chunks of ~4Kb serialized size"
I storing roaring bitmap in LMDB database, it operates with 4Kb pages.
And I would like to split data into chunks which will fit into 4Kb page: for example to chunks 3Kb+-500bytes of serialized size.

Right now I using next binary-search-style code (but this code is a bit weird and not always converge - `denominator` goes to infinity):
[code]

I looking for more elegant way to: find interval [bitm

[2020-10-13 11:23] AskAlexSharov commented on #273
I found good enough solution:
[code]

[2020-10-13 14:31] #273 closed

[2020-10-15 11:02] gitmko0 opened #274 "is there a count() function to count all the items in the bitmap?"
1. is there a count function? else
which is faster to get total numbers?
a) iterate for next item to do counter
b) do a cardinality comparison with a full set

[2020-10-15 12:55] lemire commented on #274
There is. See `GetCardinality()`. Have you read through our first code example in the README.md file?

Do not do this. It is slow and unnecessary.

Do not do this.

[2020-10-15 12:55] #274 closed

[2020-10-15 18:00] gitmko0 opened #275 "Sorry for asking but..."
What's the size of 2^64 roaring bitmap?
I'm trying to use roaring bitmap to store ipv6 blacklist information.

was wondering if it's better to just stick to "normal" byte information storage for ipv6 or using roaring bitmap?

maybe 200M ipv6 blacklist information that's all.

will it be better using roaring bitmap? basically, what's the byte size requirement for this? and when will we know when ro

[2020-10-15 18:37] lemire commented on #275
I would not use a single Roaring bitmap as a filter. It would be the wrong data structure in most cases. You typically  use roaring bitmaps to represent many sets that interact in non-trivial manners.

Have you considered using something like an XOR filter? You could have a 225MB filter that is super fast.

https://github.com/FastFilter/xorfilter

With a probabilistic filter, you still need to han

[2020-10-15 18:56] gitmko0 commented on #275
great answer! thanks.

[2020-10-15 18:59] gitmko0 commented on #275
i checked xorfilter, i beg to differ. i think roaring is a better filter because of the compression offered than the xorfilter.
200M blacklist information being roaring bitmapped... if xorfilter is compressed, that'll make it more suitable then.

can you give a reason not to use roaring as a filter? coz to me, it's mem efficient.

(out of topic) makes me wonder if there is a xor / bloom filter tha

[2020-10-15 19:03] gitmko0 opened #276 "Surprised there's no information on OOM / memory setting or disk backed solution in doc"
1. how do i set the memory size? (sorry i know it sounds kind of stupid to mention it, no idea why i find it funny when i typed out)
2. what happens when out of memory?
3. disk backed solution? e.g. flush data to disk / wal etc

[2020-10-15 19:46] lemire commented on #275
Please insert your data into both the `xorfilter` and into `roaring` and report back.

If you get unexpected results, people open a new issue, detailing your experiences, with hard numbers.

[2020-10-15 19:46] #275 closed

[2020-10-15 19:48] lemire commented on #275
(typo above, I meant to write "please open a new issue with hard numbers.")

[2020-10-15 19:58] lemire commented on #276
Memory allocation is handle by the Go engine. For advanced users, we provide memory-file mapping capabilities in the library, please refer to the API.

We are always happy to receive contributions. If you wish to improve the documentation, please submit a pull request.

[2020-10-15 19:58] #276 closed

[2020-10-16 00:10] jacksonrnewhouse commented on #265
Approach I took in #277 is to have the bitmap either call `ior()` on an already writable container or `or()` together the COW container and the right container.

[2020-10-18 16:34] elgatito opened #278 "Panic from Contains"
Hello,

I'm creating a new bitmap with:
`awaitingPieces = roaring.NewBitmap()`

Then checking if there are items in there with:
`awaitingPieces.ContainsInt(curPiece)`

It works fine, but sometimes I get these panics:
[code]

Can't reproduce it since there are tons of checks. but panic comes rarely and I cannot find the reason.

[2020-10-18 16:49] lemire commented on #278
As you are no doubt aware, this code as been in production in large systems worldwide. We do have bugs still, but your first instinct given an issue should be to assume that the bug is in your code.

It likely that your code is multithreaded (e.g., you might be using goroutines). If so, then you are responsible for safety: i.e., it is not is generally safe to creat a bitmap in a thread and then ac

[2020-10-18 16:49] #278 closed

[2020-10-18 17:22] gitmko0 opened #279 "What's the largest golang bitmap size used in production?"
would like to know
1. size and size of the bitmap in exported bytes
2. performance of the bitmap with statistics / benchmark
3. use case scenario , preferably for golang.

does anyone hv these info?

[2020-10-19 07:34] elgatito commented on #278
@lemire Ouch, have not seen this notification:

[code]

You are right, have no locks around bitset uses, so probably just got a case with that.
Thanks for this great package!

[2020-10-19 11:14] gitmko0 opened #280 "Is it me or is there a way to make roaring 64 run in multi thread or multiple core cpu?"
my roaring 64 is running only on 1 cpu default using the example. how to make it run on multi core / multi thread?

[2020-10-19 11:23] gitmko0 opened #281 "Great piece of software! but... 128 bit and beyond?"
I would like to have 128 bit bitmap and i understand that only 32bit is compatible across all programming platforms so possible to give example / suggestions on the best practises to break down 128 bit into 32bit segment?

i'm using it as a detection of bit added / "filter" and not as a bitset /mapping function. it's great to use this as "unique filter" for the compression results it gives. 5 bil

[2020-10-20 18:41] jacksonrnewhouse commented on #265
This got addressed in #277

[2020-10-20 18:41] #265 closed

[2020-10-29 19:12] jacksonrnewhouse opened #284 "Runtime detection of little-endian"
Been experimenting with the new Neoverse N2 machines in AWS. They are generally fast, but I realized that we're using serialization_generic.go for our conversions, and this is *much* slower than serialization_littleendian.go. I opened a branch with a POC for just one of the functions, and a benchmark that leverages it: https://github.com/RoaringBitmap/roaring/compare/master...jacksonrnewhouse:dete

[2020-10-29 19:20] lemire commented on #284
The real issue, of course, is that I bet that these Neoverse N2 machines in AWS are little endian systems.

[2020-10-29 19:22] lemire commented on #284
It is as I remember it:

https://github.com/golang/go/issues/11079

So if you are using Go on an ARM system, it is safe to assume that it is little endian.

You know, very few things turn on big endian these days.

Anyhow, so we can just change the header and select little endian when arm is detected and we will be good.

[2020-10-29 19:23] jacksonrnewhouse commented on #284
Okay, great. I wasn't sure if we could do that. It's a very simple change.

[2020-10-29 19:23] lemire commented on #284
Yes, we can do it at compile time.

[2020-10-29 19:47] lemire commented on #284
Having fun with the crazy syntax. I see you tried something too.

[2020-10-29 19:50] lemire commented on #284
And, importantly, it is at zero cost.

[2020-10-29 19:51] #284 closed

[2020-10-29 21:35] vielmetti commented on #284
Wow, that's a speedup!

[2020-10-29 23:47] lemire opened #288 "Use vector instructions for union2by2"
We have ARM assembly for union2by2 as per https://github.com/RoaringBitmap/roaring/pull/287

It should be said that there are vectorized algorithm (hint: ARM NEON) for union routines. It appears in the C code (for SSE only but it is portable).

https://github.com/RoaringBitmap/CRoaring/blob/master/src/array_util.c#L1569-L1647

It is described in section 4.3 of the following paper:

* [Roaring Bitm

[2020-10-29 23:48] lemire opened #289 "Vectorized union"
We have ARM assembly for union2by2 as per https://github.com/RoaringBitmap/roaring/pull/287

It should be said that there are vectorized algorithm (hint: ARM NEON) for union routines. It appears in the C code (for SSE only but it is portable).

https://github.com/RoaringBitmap/CRoaring/blob/master/src/array_util.c#L1569-L1647

It is described in section 4.3 of the following paper:

* [Roaring Bitm

[2020-10-30 18:29] jacksonrnewhouse commented on #289
Closing this as it is a duplicate of #288

[2020-10-30 18:29] #289 closed

[2020-10-30 18:57] lemire commented on #289
How did this happen? Weird.

[2020-10-30 19:42] jacksonrnewhouse commented on #288
https://github.com/DLTcollab/sse2neon seems like a valuable reference

[2020-10-30 20:21] lemire commented on #288
If someone is interested, I am fluent in the various SIMD dialects. Finding the intrinsics and the instructions is not so difficult. There are few of them to find anyhow.

The hard part is to put it all together.

[2020-11-01 22:12] jacksonrnewhouse commented on #288
Unfortunately golang hasn't ported over UMIN and UMAX. I opened an issue on it, but will probably have to figure out the bitwise representation for now.

[2020-11-09 01:08] jacksonrnewhouse commented on #288
@lemire, the intersection algorithms use _mm_cmpestrm to compare 2 registers of 8 shorts each, and there isn't an equivalent instruction in arm64, I believe. Have any suggestions? My thoughts are to do something like sse_merge, where you run CMEQ between the registers, then rotate 8 times using EXT, and pop_count the result, shifting right by 4 bits (each equal case sets 16 bits). Any suggestions

[2020-11-09 01:13] lemire commented on #288
Though cmpestrm looks really good, it is an expensive instruction with many cycles of latency so the approach you suggest is more competitive than it appears.

[2020-11-23 14:42] #188 closed

[2020-11-23 14:42] #165 closed

[2020-11-27 08:37] Smallhi commented on #260
@guymolinari  For BSI, the function transpose can be used for vectorization. I found the fucntion use a RoraingBitmap to return. It make me confused. Could u tell me how can we use it to  process groupBy computing? I think the return value RoraingBitmap discard the original Info.
Thanks a lot!

[2020-11-27 18:43] guymolinari commented on #260
It is designed to transpose values in the BSI and convert those values to
columnIDs in a Bitmap.

Cheers,
Guy

On Fri, Nov 27, 2020 at 12:37 AM hhl <notifications@github.com> wrote:

[2020-11-29 05:06] Smallhi commented on #260
@guymolinari  If you don't mind me asking，could you give me an example of how to "transpose values in the BSI and convert those values to columnIDs in a Bitmap".  That's very usefule for me!
Thanks a lot!

[2020-11-30 14:44] guymolinari commented on #260
The best way to understand an open source project (at least one that is
properly run), is to look at the test cases.

On Sat, Nov 28, 2020 at 9:06 PM hhl <notifications@github.com> wrote:

[2020-12-01 05:02] Smallhi commented on #260
@guymolinari  I had read and run all your code .... Thanks anyway!

[2020-12-16 20:54] kerry-perret opened #296 "Support and / or workarounds for using 32 bytes / 256 bits?"
Hi there, I am wondering if there is a support for 32 bytes / 256 bits numbers (be it bigint-like, or byte / uint32 array) with roaring bitmaps, can't find any info, not sure whether this is actually achievable.

[2020-12-16 21:02] kerry-perret commented on #296
I guess this relates to https://github.com/RoaringBitmap/roaring/issues/281#issue-724521421

[2020-12-16 21:13] kerry-perret commented on #281
I'm thinking about a cheap workaround / solution, for example for the 128 bits (ie. 16 bytes) using two uint64 which might just do, just dunno how bad is the bottleneck of splitting a 128bits into two uint64 👩‍🚀, it's still adding a few extra cycles... I'd rather have a single data structure to achieve the same thing which would help to further compress have less cycles.

[2021-03-16 20:09] lemire opened #298 "Investigate "sroar": Dgraph's Serialized Roaring Bitmaps"
Dgraph has made public their "Serialized Roaring Bitmaps" implementation at
https://github.com/dgraph-io/sroar

I would encourage the Roaring community to go have a look.

[2021-04-29 14:52] ChirlChen opened #303 "Overflowed when hKey-lKey=65535, then dead locked"
There has an overflow bug in [parallel.go#L360](https://github.com/RoaringBitmap/roaring/blob/d626fcaa277d89a8f843afeb9ec85fd959d8e6dd/parallel.go#L360)

## Description

When the minimal and maxmal value of high 16 bit key are 0 and 65535, then `keyRange := hKey - lKey + 1` will be 0 (overflowed), the `ParOr` result will be wrong;

## Side Effects
Because of the overflow,  the range in [line:422](

[2021-05-06 09:30] #303 closed

[2021-05-18 01:19] lemire commented on #298
This has been an update with competitive benchmark results:
https://github.com/dgraph-io/sroar#benchmarks

[2021-05-18 01:21] lemire commented on #298
Here are the specific claims:

[2021-05-27 06:11] beiwei30 opened #305 "race issue in runContainer16's equal() method"
Run the following code with `go test -race`:

[code]

Race detector will report the following warning to indicate there's potential data race in runContainer16's  equal() method:

[code]

[2021-05-27 12:45] lemire commented on #305
The runContainer16 equal() function is single threaded. It does not seem possible that it suffers from a data race.

The code provided in this issue modifies the data structure in two distinct threads, which will indeed introduce a data race if one is not careful...

The core issue in this instance is that `roaring` will compute the cardinality of run containers and cache it as needed. I do not mu

[2021-05-27 14:05] lemire commented on #305
@beiwei30 Can you review https://github.com/RoaringBitmap/roaring/pull/306 and tell me what you think?

[2021-05-28 08:50] comunidadio opened #307 "go get fails with conflict wrt willf/bitset"
[code]

Perhaps should update roaring to import bitset using the new path?

[2021-05-28 14:08] lemire commented on #307
Fixed in release 0.7.0. Please upgrade.

[2021-05-28 14:08] #307 closed

[2021-05-28 14:09] #305 closed

[2021-05-30 18:27] kevinconaway commented on #264
We have a similar use case where we create a lot of immutable bitmaps in memory and only read from / iterate them.

It would be great if there were improvements that could be made for immutable maps.

[2021-05-31 12:24] lemire commented on #264
@kevinconaway Just checking... do you create them in this manner....?

[code]

[2021-05-31 17:09] kevinconaway commented on #264
No, for this use case we typically create a new `Bitmap`, add values to it and then never modify it again for its lifetime:

[code]

We notice these occupying a fair amount of heap space / heap objects so I was curious if there was a more optimized in-memory layout when we know that we won't modify the `Bitmap` again

Apologies if I interjected on an unrelated ticket here.

[2021-05-31 17:15] lemire commented on #264
@kevinconaway

If you sum up `GetSizeInBytes()` on all bitmaps, you should get something close to your actual memory usage (though your actual memory usage will be a bit higher due to various overheads). If that's not the case, then you should report the issue as performance bug.

[2021-06-01 07:20] ajeetdsouza commented on #264
We were facing this problem at [Dgraph Labs](http://dgraph.io/) too, so we built a library called [sroar](https://github.com/dgraph-io/sroar) where the in-memory representation matches the on-disk representation (no need for marshalling / unmarshalling). Perhaps you will find this useful.

[2021-06-01 14:37] lemire commented on #264
Regarding the last comment, I created an issue specifically for it at https://github.com/RoaringBitmap/roaring/issues/298

[2021-06-01 16:33] kevinconaway commented on #264
Apologies for the confusion, the main concern here is the number of objects on the heap (the various `*roaringArray`, `*arrayContainer` and `*runContainer16` values that occupy the heap)

[2021-06-01 17:40] lemire commented on #264
I realize that... hence my question. The `GetSizeInBytes()` function will not include this overhead. We can compare this rather theoretical measure with the actual memory usage. The difference is something that can be optimized away. We have done such analysis in the past and found that the overhead was small... meaning that the benefits were modest. It could be that the story is different in some

[2021-06-02 23:29] jacksonrnewhouse opened #308 "Clarify In-Place operation semantics"
Been fooling around with optimizing in-place operations, in particular if we can do better with run containers. My interest is in solutions that are performant both in terms of calculations and allocations. Right now, the semantics for container calls like `ior()` and `iand()` are not well specified. They _always_ return a container, that container will _always_ be the union/intersection and it wi

[2021-06-03 00:28] lemire opened #309 "Potential bug in AndAny function"
This line in AndAny looks suspicious...

https://github.com/RoaringBitmap/roaring/blob/c3410353258d6aa6dc9a4d5589fa364806eac322/fastaggregation.go#L305

The `ior` call could return a new container.

[2021-06-03 00:28] lemire commented on #308
The `AndAny` function may, in fact, be broken. I have opened an issue https://github.com/RoaringBitmap/roaring/issues/309

[2021-06-03 00:36] lemire commented on #308
This may not be explicit but I think it is well defined. Both `ior()` and `iand()` should return the container with the desired answer (always), with the possibility that this container could be the referent in some cases.

... which is not to say that we can't do better... maybe we should....

Can you elaborate?

It is typically faster and simpler to unconditionally set a value. Additional branch

[2021-06-03 01:51] jacksonrnewhouse commented on #308
I realized AndAny's issues when I refactored array.ior(run) to potentially return a new run container. At first I thought I had found a bug but because of when those unchecked ior calls are made it will always work. BUT, that is only because of a bunch of implementation dependent choices, and the general contract allows for implementations that break it.

Then, I looked at the various implementati

[2021-06-03 15:14] lemire commented on #309
@jacksonrnewhouse vouched for this code. Closing.

[2021-06-03 15:18] lemire commented on #308
That is the contract for `or` and `and`. The difference with `iand` and `ior` is that you allow the receiver/referent to be modified. If it was modified, then it is returned, otherwise a new container is returned. With `or` and `and`, a new container is always returned. It is crucially important in some cases to be able to do that... otherwise you always need to make copies...

[2021-06-07 18:41] jacksonrnewhouse commented on #309
I mean, my vouching was just that the code was correct *given the current container implementations*. It definitely isn't correct given the general contract for ior(). I have a fix I'm about to post.

[2021-06-07 18:45] lemire commented on #309
+1

[2021-06-14 20:03] guymolinari opened #315 "BitSliceIndexing BSI sub-library correctly stores twos complement values but range comparisons fail for negative values."
Negative values are correctly stored and retrieved, however when performing any comparisons LT, GT, GE, LE, RANGE against negative values they fail horribly.

[2021-06-14 20:07] lemire commented on #315
@guymolinari Couldn't we document that we are supporting only non-negative values? That was my expectation.

[2021-06-14 20:09] guymolinari commented on #315
Daniel,
    I just checked in a fix for this.   What do you think?

I'm also going to add min() and max() functions.   I need this stuff.
Guy

On Mon, Jun 14, 2021 at 1:07 PM Daniel Lemire ***@***.***>
wrote:

[2021-06-16 13:34] Oppen commented on #309
If the fix was merged, shouldn't the issue be closed?

[2021-06-16 13:44] Oppen commented on #280
I think this is either a duplicate of #38 or it suffices to use several bitmaps and each thread process a few of them. You can also use a single one and a mutex, but that wouldn't be so efficient.

[2021-06-16 13:45] lemire commented on #309
Closing.

[2021-06-16 13:45] #309 closed

[2021-06-16 13:48] lemire commented on #280
We have parallelized functions such as `ParOr`. This is not currently very well documented and we could do better.

[2021-06-16 13:49] lemire commented on #280
If I wanted to be silly, I'd say that the answer is "yes" to "is there a way to make roaring 64 run in multi thread or multiple core cpu?"... but we should probably elaborate with examples in the README.

[2021-06-16 13:59] Oppen commented on #280
Sorry, I thought this was CRoaring 🤦
I know some ops are parallel here. I think some more could be parallelized tho.

[2021-06-16 14:13] Oppen commented on #207
It'd be nice to also refactor the normal cardinality computation as cardinality of range [0, (1 << 32)] to reduce duplication.
If the implementation is good it shouldn't mean a big performance difference but save a lot of code.
What do you think?

[2021-06-16 14:23] Oppen commented on #198
Is there a way to do this in two steps? It would be interesting to first hash only the keys, which should be faster, and only if that hash matches hash the containers.

[2021-06-16 14:30] Oppen commented on #228
Have we tried changing only the `New` function? I have the suspicion for the most part it's not about not passing pointers but about the escape analysis failing us, thus allocation on the heap and having the GC track the references.
Even better, we could not modify `New` but rather derreference on creation to allocate on the stack and let the instance die young for a simple test.
We could also jus

[2021-06-16 14:35] Oppen commented on #264
Right. I thought it was a format issue, that's why I suggested just recycling the old one instead of creating a new one. So it's just implementing a new load?

[2021-06-16 14:37] Oppen commented on #264
There are performance benefits on using aligned data AFAIR, tho. Reads and writes of aligned data should hit the bus less often. Same way, they should invalidate the cache less often. I assumed that's why we store stuff aligned in a way it matches natural alignment AVX2 registers for bitsets.

[2021-06-16 14:56] lemire commented on #264
Yes. People often claim that alignment is important for performance. Back in 2012, I wrote a blog post on the topic...

Data alignment for speed: myth or reality?
https://lemire.me/blog/2012/05/31/data-alignment-for-speed-myth-or-reality/

If you are scanning an array, you might hit one extra cache line due to lack of alignment. So you can build relatively contrived examples where this will impact

[2021-06-16 15:11] lemire commented on #198
@Oppen A CheckSum typically returns one value. You could imagine having several different checksums... from less expensive to more expensive ones.

[2021-06-16 15:17] lemire commented on #207
@Oppen The `GetCardinality` function is about three lines of code so I do not expect you could save a lot of code.

[2021-06-16 15:17] lemire commented on #207
https://github.com/RoaringBitmap/roaring/blob/5eef3871bbab4c11eca4c82f936ef04636ab01f9/roaring.go#L663-L670

[2021-06-16 15:18] Oppen commented on #207
But probably applies for the containers' implementations.

[2021-06-16 15:19] lemire commented on #207
I do not expect so.

https://github.com/RoaringBitmap/roaring/blob/5eef3871bbab4c11eca4c82f936ef04636ab01f9/arraycontainer.go#L851-L853

[2021-06-16 15:24] Oppen commented on #264
But if you do `memcpy` you lose part of the benefits of using a frozen format in the first place, as a big one is the ability to simply `mmap` and view. The other benefit being no extra processing nor too many allocations, however, is still intact.
But true, the cache hit argument is a bit moot if you scan the whole array. What about loading many files with `mmap` and computing `and`? In that case

[2021-06-16 15:28] Oppen commented on #264
Off-topic: there's a case where it really is more important to align to cache, when atomics are involved. Atomic operations invalidate a cache line on all processors, so you want to avoid those invalidating more than one line _and_ invalidating non-related data (so you usually try to fit more related data in the same line so it's really invalid for others anyway).

[2021-06-16 15:43] Oppen commented on #94
Alternatively, the container interface can have a `Next(current uint16) int32` method, so the iterator would implement `Next() uint16` somewhat like this (names of types weren't checked, it's just the idea):
[code]
You get the benefits of using interfaces to separate logic without extra allocations.

[2021-06-16 15:44] Oppen commented on #94
Typo: pass the low bits only.

[2021-06-16 15:47] Oppen commented on #94
We could also store the index inside the container with a two-value return and pass the index directly, but in any case a gallop/shotgun search for the value would probably be good enough for arrays and runs and the value and the index are the same for bitsets.

[2021-06-16 15:55] lemire commented on #264
You do not.

You memcpy the individual words which brings them into register from an mmap pointer. You do not have to memcpy the array. There is no difference between `x[i]` and `uint64_t x; memcpy(&x, ..,)`. It compiles to the same code, down to the autovectorization.

If you are loading individual words and you put each of them at a page boundary, every other page, then you could, theoretically,

[2021-06-16 15:56] lemire commented on #264
My blog post does allude to this issue. In a multithreaded context, being aware of cache lines can pay in specific instances.

[2021-06-16 15:57] Oppen commented on #198
Of course. What I meant is if there's a way to use a several-checksums approach for keys in maps and the like. It wouldn't help a lot now that I think of it, tho, since storing a new key always requires computing both in the end.

[2021-06-16 16:02] Oppen commented on #228
In any case, the change I propose is easy to try, and I only need the escape analysis output. I'll see if I can do it soon.

[2021-06-16 16:06] Oppen commented on #264
Oh, I thought `memcpy`ing the whole contents at once.

[2021-06-16 16:13] lemire commented on #94
@Oppen

Let us consider...

[code]

Ok. So if you have an array container, how would `it.currentContainer.Next(it.currentValue)` work? Probably you would start with a binary search. That's not great. So for performance you want to maintain more of a state.

[2021-06-16 16:14] lemire commented on #94
I am skeptical. I expect it would cause a significant performance penalty.

[2021-06-16 16:41] Oppen commented on #94
Maybe. Worst case you need to pass an index in addition to a value (runs would lose information without the value), and keep that index as the only extra data in the iterator. I think that's abstract enough, considering any kind of container will need a concept of numbered element anyway.

[2021-06-16 16:42] Oppen commented on #94
The signature would instead be something like `Next(fromIndex, fromValue uint16_t) int32`.

[2021-06-16 17:33] Oppen commented on #94
I know, but then we'd still need to get the types. In C they're an explicit part of the `roaring_array_t` structure, but in Go we use interfaces I think. So, either we do type switches needlessly or we implement typed functions anyway to match that implementation. I think it makes sense to just use an interface the containers can implement (but with no intermediate iterator).
The higher level iter

[2021-06-16 17:34] Oppen commented on #94
I can send a PR tomorrow to illustrate, and run the benchmarks to see if it regresses. I won't be able to see after work today because I'll have an eyes background (I'm not sure if this is the proper translation to English, but I hope it's clear enough).

[2021-06-16 19:09] jacksonrnewhouse commented on #94
I think the concerns about allocating structs for iterators are likely somewhat overblown. If you're using them to perform some calculation across all elements it *should* not escape and be allocated on the stack, which is very cheap. If you're embedding it in some other struct to call sporadically, it'll be on the heap, but given that you've allocated that struct likely fine. Let me know if I'm m

[2021-06-16 22:00] Oppen commented on #94
Iterators do escape:
[code]

[2021-06-16 22:03] lemire commented on #94
@Oppen Sadly, pretty much everything escapes in Go.

:-(

[2021-06-16 22:03] Oppen commented on #94
I know, but I wanted to provide data for my claim :)

[2021-06-17 01:46] jacksonrnewhouse commented on #94
I'm on vacation so don't have access to run my own escape analyses. But, given that these are private methods allowing escape, I think we could do better.

Part of my confidence comes from my experimentation in roaring bitmaps mainly backed by a single byte slice. It instantiates local containers had

[2021-06-17 01:46] jacksonrnewhouse commented on #94
Sorry, I was typing a long response on my phone and fat fingered

[2021-06-17 01:49] jacksonrnewhouse commented on #94
The summary of my response is that, given these are internal methods, I think we may be able to change them so they are stack allocated

[2021-06-17 02:45] lemire commented on #94
I think that this would almost sure be best.

[2021-06-18 14:02] Oppen commented on #94
A less disruptive alternative could be using `sync.Pool`s for the containers' iterators. We would then only add a release method to the interface and call it before changing iterators.

[2021-06-18 14:09] lemire commented on #94
It is easy to underestimate the worst case performance penalty of a sync.Pools approach.

[2021-06-18 14:10] Oppen commented on #94
That's true. It's a bit of a black box and it needs some kind of synchronization. Does Go have thread-local storage? I'm guessing not, but it'd be cool.

[2021-06-18 14:11] Oppen commented on #94
Anyway, there may or may not be a gain compared to allocation.

[2021-06-18 14:11] Oppen commented on #94
It's contained enough to test several alternatives I think.

[2021-06-18 14:14] guymolinari commented on #94
We have so many brilliant minds focusing on this code.  Wish we could find
a way to get the C/C++ libraries running on GPUs.

On Fri, Jun 18, 2021 at 7:10 AM Daniel Lemire ***@***.***>
wrote:

[2021-06-18 14:18] Oppen commented on #94
That would be an interesting project indeed.

[2021-06-18 14:21] guymolinari commented on #94
I did a quick, hacked together POC about a year ago.   Roaring read
operations would see a 3 - 5x improvement.

On Fri, Jun 18, 2021 at 7:18 AM Mario Rugiero ***@***.***>
wrote:

[2021-06-18 14:24] Oppen commented on #94
Nice. Is it in GitHub?

[2021-06-18 14:27] guymolinari commented on #94
No, but I will get it out there.   I'm overwhelmed and haven't had the time
to take it further.

On Fri, Jun 18, 2021 at 7:25 AM Mario Rugiero ***@***.***>
wrote:

[2021-06-18 14:48] Oppen commented on #181
A `Validate` function would be best. If the user trusts the input (they generated it, for example) they can avoid paying the price, but if something comes down the wire the sensible programmer can discard invalid input.

[2021-06-18 15:00] Oppen commented on #94
I think the sooner you publish, the better. That way someone can help.

[2021-06-18 20:17] Oppen opened #318 "Support CRoaring's frozen format for interoperability"
Doing this would mean the pure Go implementation can be used to create bitmaps to later be used by a more restricted environment, such as one using Python or C, while still being able to memory map the contents.
Using the pure Go version introduces several advantages versus using GoCRoaring, such as better memory accounting and parallel operations, as well as the ability to use scratch-images when

[2021-06-18 20:44] lemire commented on #318
I believe it is a great idea. I do not expect that there will be a significant penalty.

To ensure compatibility, it could be useful to include an actual binary file in frozen state as part of the tests.

[2021-06-18 21:28] Oppen commented on #318
Gotcha!

[2021-06-18 22:39] lemire commented on #318
For people reading this: if one claims "compatibility" then one has to test with actual files...

[2021-06-18 23:51] lemire commented on #181
@Oppen It is a nice idea, yes. A validate function might also be able to return (for free) some other information.

[2021-06-20 13:23] marniks7 commented on #298
Hey,
Here is my run for Intel CPU, allocations drops, but timing increases.

`BENCH_REAL_DATA=1 go test -bench BenchmarkRealDataFastOr --run=XXX --count=5 --benchmem -cpu 1`

`benchstat roaring.txt sroar.txt`
[code]
Go: `1.16.4`
CPU Info:
[code]

[2021-06-21 13:39] guymolinari opened #320 "Add Min() and Max() functions to retrieve minimum and maximum values from a BSI."

[2021-06-21 21:04] Oppen commented on #318
I have some untested code already. When it works, the idea is that it will support both for serialization and deserialization to work in little endian, big endian and "native" endian (i.e., if you don't clarify what you mean, it will assume the platform's endianness is what's desired). For testing I plan to convert the real data bitmaps with a simple gocroaring program, include its source in the r

[2021-06-21 21:11] Oppen commented on #318
Note the current code is only for reading. Because it always needs the last 4 bytes for the cookie first I will only implement support for creating them from byte slices. It will always end up storing the whole thing in one slice. Although someone may want to make a mutable version that doesn't require COW when something comes from memory, that could still be done by just unflagging it, the buffer

[2021-06-21 21:33] lemire commented on #318
@Oppen Right... so...

1. Only reading (immutable). That goes without saying...
2. I am not actually sure we need to even support big-endian. It would be fine, as far as I am concerned, if the code just failed on big endian systems (ideally, failed loudly, with a panic). They are becoming vanishingly rare. I expect we do not have one user of this library with a big endian system.

[2021-06-21 21:59] Oppen commented on #318
Sounds good. That makes it much simples.

[2021-06-21 22:17] Oppen commented on #318
As for serialization, the test I have in mind is generating the bitmaps from real data and comparing the results with the ones stored. It isn't the most robust because some containers can either be runs or bitsets/arrays, but I can just try both with and without runs and check that one of them match.

[2021-06-21 22:18] Oppen commented on #318
Or I could have both kind of files and explicitly compare with pairs with runs and pairs without them.

[2021-06-21 23:00] lemire commented on #318
Yeah. It is not possible to have perfect tests, but if you construct a sensible example and test that, you should catch most problems.

[2021-06-22 12:40] #320 closed

[2021-06-22 18:26] jacksonrnewhouse commented on #242
My general understanding is that the safety of a Bitmap basically operates under Rowlock semantics. Non-mutating reads can happen concurrently, but any updates need exclusive access, as they can corrupt assumptions. For instance, if you remove a container after length1 is calculated in and/or/not it will panic

[2021-06-23 01:32] evanoberholster commented on #298
I found this library [https://github.com/kelindar/bitmap](https://github.com/kelindar/bitmap) it is 32-bit only. It is backed by a similar in-memory storage concept.

[2021-06-23 12:05] lemire commented on #298
@evanoberholster It is likely similar to https://github.com/bits-and-blooms/bitset in that it implements an uncompressed bitset. The use cases are different.

[2021-06-24 12:26] Oppen commented on #318
Update. I've got serialization working locally. Deserialization gives different results, so I need to keep working on it.
I tested on the whole real datasets and wrote a little test with `testing/quick`. I also wrote benchmarks, but I'm not buying the values I get, I think the compiler is optimizing out my calls (I get absurdly low times and 0 allocs when they are at plain sight).

Would it make s

[2021-06-24 12:51] lemire commented on #318
@Oppen Dependencies are not a problem, but I am not a fan of property testing for projects like roaring. Hand-crafted tests where you reason through the desired outcomes from the specification and check that it is what you get are preferable. Fuzz testing is great, but it is just an automated approach toward hand-crafted tests (where the desired outcome is computed separately).

[2021-06-24 12:59] lemire commented on #318
@Oppen Also we worked hard to get the tests to run fast. For a long time, running the tests could take minutes because we were using an inefficient framework. It is really bad. We want fast tests. Property tests can often be several times slower than hand-crafted tests. It adds up.

[2021-06-24 16:40] Oppen commented on #318
OK, I finished a basic round of tests. The issue I'm having is that the `Equals` method returns `false` for some reason, while `ToArray` does produce the same result for the original bitmaps and the deserialized ones.
I believe the bitmap containers do an optimization where they resize the slice to exclude the last empty values to reduce iterations in some operations, but since `bitmapEquals` chec

[2021-06-24 19:57] Oppen commented on #318
OK, it wasn't that. `Equals` receives an empty interface. I was creating the object to deserialize to as an instance of `Bitmap` rather than a pointer. It doesn't compare correctly when passed an instance rather than a pointer. Should that be considered a bug?

[2021-06-24 19:59] Oppen commented on #318
I'll send the PR after some cleanups, but tests are passing for real data, quickcheck and a few handcrafted tests.

[2021-06-24 21:17] lemire commented on #318
The current implementation is this...

[code]

The most obvious way to determine whether that's correct would be to examine current practices and check whether we deviate from it.

[2021-06-24 21:17] lemire commented on #318
Bravo.

[2021-06-25 03:13] Oppen commented on #100
Was that benchmarked? For some reason I see no change on `EqualsSparse` and `EqualsClone` using that algorithm than with master.

[2021-06-25 03:14] Oppen commented on #100
Maybe those tests just don't produce run containers 🤔

[2021-06-25 03:15] Oppen commented on #100
Indeed. I'll add `RunOptimize` and try again.

[2021-06-25 04:38] Oppen commented on #110
I think something like this should work (I wrote a dummy version but right now it crashes):
- Allocate a slice for indices for each bitmap.
- (Optionally) Sort from fewer to more keys. This would make it `O(Blog(B)+N)`, but may exit faster.
- For each key `key1` in the first bitmap `bm1`:
    - For each bitmap `bmi` other than the first:
        - If no more keys are available for `bmi`, then we e

[2021-06-25 04:39] Oppen commented on #110
A more sophisticated version would use shotgun search for the current key, as well as skipping to the maximum found from the last iteration. But that's a reasonable draft I think.

[2021-06-25 04:50] Oppen commented on #110
It works but doesn't change a bit 🤷
However, using a pool for the containers slice does decrease allocations and memory use by 7-8% in the benchmarks, without an execution time penalty.

[2021-06-25 04:51] Oppen commented on #100
Even forcing denser arrays I saw no gains.

[2021-06-25 14:04] lemire commented on #110
There should never been any need for sorting.

You should never have to visit a key more than once.

[2021-06-25 14:53] Oppen commented on #110
AFAIK you don't visit keys more than once with this approach. The sorting is just to exit before going through them all, but I don't think it makes much of a difference.

[2021-06-25 15:09] lemire commented on #100
@Oppen It is tricky to benchmark branchy data-dependent code like this.

This being said, you do use arrays that are, indeed, equal to the run container, right? Both the run container and the array should be rather large. It is the adversarial case that we want to optimize.

[2021-06-25 15:11] Oppen commented on #100
They get created by adding 65k random numbers in the range 0-100000, the same for both, then optimize one. I can try with a larger one. Probably the addition is already creating runs, I should check that. In that case I should force it to not use runs.

[2021-06-25 20:58] lemire commented on #100
@Oppen Yeah. What you did sounds reasonable.

[2021-06-25 23:06] Oppen commented on #100
Maybe the result was too dense and became mostly bitmaps in the non-run-optimized version now that I think of it. I can print the stats anyway.

[2021-07-03 23:48] Oppen commented on #279
I have individual bitmaps that are probably in the order of tens or hundreds of millions of values; I also use a huge number of them, but sizes are likely to vary a lot between them. I could write a short program to give you an approximate number on Monday. Those created with `roaring`, consumed by `gocroaring` to convert them to frozen format (I'll migrate to `roaring` after the frozen support is

[2021-07-04 00:01] Oppen commented on #110
I have an implementation that passes tests. However, I don't think it's the best code in terms of readability and I haven't written the benchmarks yet (there's none for `FastAnd`). I'll make a draft PR later today, but as of now it shouldn't be merged.

[2021-07-04 00:05] Oppen commented on #110
I have an implementation that passes tests. However, I don't think it's the best code in terms of readability and I haven't written the benchmarks yet (there's none for `FastAnd`). I'll make a draft PR later today, but as of now it shouldn't be merged.

EDIT: I just revived my branch for doing the same for `FastAnd` and forgot the original one was for the `ParAnd` function. I can only guess that I

[2021-07-04 00:07] Oppen commented on #110
I think it's related enough to mention it tho. This implementation uses the shotgun search approach to skip irrelevant containers.

[2021-07-05 13:05] #318 closed

[2021-07-06 11:37] pforemski opened #325 "Can't deserialize very big maps"
Hi,

I found that with certain sets of a few hundred million members (eg. 250M+), you often end up with the maximum number of containers, 65536, or 0xFFFF + 1. I was surprised I couldn't de-serialize such big bitmaps, which resulted in no errors, but no data.

I found a bug that I fixed https://github.com/RoaringBitmap/roaring/pull/324

Best regards from @farsightsec :) Keep up the great work!

[2021-07-07 08:13] pforemski commented on #279
More than 500M members in a single set, takes less than 300MiB when stored. On my dev machine manages to consume >4M CheckedAdd()s per second. That's what I can tell.

[2021-07-13 23:33] Oppen opened #326 "[suggestion]: implement non-container-optimizing operations"
Many in-place operations convert between container types for efficiency. This makes a lot of sense when the operation involves only two containers/bitmaps, because you would want an optimal container at the end. However, multiple container operations would probably benefit from using a single accumulator container appropriate for the given task for most of the operation to avoid overloading the GC

[2021-07-14 16:43] lemire opened #327 "Try a branchless approach for the union of two sorted arrays"
See blog post [Faster sorted array unions by reducing branches](https://lemire.me/blog/2021/07/14/faster-sorted-array-unions-by-reducing-branches/)

Related to PR https://github.com/RoaringBitmap/roaring/pull/301

credit @puzpuzpuz

[2021-07-14 17:39] Oppen commented on #325
Closing because you already fixed it. Thank you!

[2021-07-14 17:39] #325 closed

[2021-07-14 17:44] lemire commented on #325
@Oppen Thanks for closing!

[2021-07-14 17:55] Oppen commented on #125
Just a suggestion: we should benchmark this in a parallel setting to make sure the synchronization doesn't hurt performance. Other than that I think it's a great idea.

[2021-07-14 17:56] Oppen commented on #125
Oh, sorry, I skimmed and thought the idea was using `sync.Pool` for containers rather than allowing resets.

[2021-07-14 18:43] lemire commented on #326
Why don't the lazy OR functions suit this need?

https://github.com/RoaringBitmap/roaring/blob/ff33c3b226c3ac033bf1a0b0f3ed647fc9cd2efa/bitmapcontainer.go#L451-L486

Note that we always leave the bitmaps in a good state after a user-visible operation, so lazy operations are for internal use only.

We do not want to expose container types as part of our public API: users should not have to worry ab

[2021-07-14 18:52] Oppen commented on #326
I thought they only saved the cardinality computing step, I didn't even think of those 🤦
I think I can close this one then, I can always reopen it if I find them unsuitable.

[2021-07-14 18:52] #326 closed

[2021-07-14 19:00] lemire commented on #326
Generally, the idea is that they are 'lazy' and try to do as little work as possible while optimizing for the scenario where you are going to re-aggregate the container soon.

[2021-07-15 11:39] puzpuzpuz commented on #327
Run a new real data benchmark with the following changes
https://github.com/puzpuzpuz/roaring/commit/f12759453889e8238576d94957fb7757f9945fa1

The benchmark looks like the following:
[code]

Environment: Go 1.16.5, i5-8300h, `BENCH_REAL_DATA=1 go test -bench BenchmarkRealDataOr -count 5 -run - | tee new.txt`
Baseline: `union2by2` implementation that can be found here https://github.com/RoaringBitm

[2021-08-04 14:12] Crash129 opened #330 "broken commutativity for roaring64.FastOr"
I found a case where the commutativity of the union is broken.
I have 3 bitmaps with distinct values. Together they contain 1040 values. But depending on the order of the arguments in the FastOr call I get different results for the union.
Without RunOptimize() everything is working as expected and I get the same result for both calls.

[code]

Output:
[code]

[2021-08-05 18:28] lemire commented on #330
I verified the issue at https://github.com/RoaringBitmap/roaring/pull/331 Thanks for providing a reproducible test case.

The union (OR) function with `roaring64` is broken.

[2021-08-05 18:34] lemire commented on #330
We really need `roaring64` to be re-reviewed and debugged. Hopefully with new tests.

cc @jacobmarble @gamolina @guymolinari

[2021-08-05 18:56] lemire commented on #330
I am investigating the issue.

[2021-08-05 21:17] guymolinari commented on #330
Understood Daniel.

I'll have some time over the next few weeks.   We're depending upon this
code and need to get into a production ready state.

Guy

On Thu, Aug 5, 2021 at 11:34 AM Daniel Lemire ***@***.***>
wrote:

[2021-08-05 21:47] lemire commented on #330
Leave it to me for now.

[2021-08-05 23:31] lemire commented on #330
Expect a patch release in a few days.

[2021-08-07 18:33] lemire commented on #330
Turns out that the issue has nothing to do with 64-bit roaring and is present in the regular roaring. It was introduced by PR https://github.com/RoaringBitmap/roaring/pull/312 this last June.

I plan to issue a patch release today.

[2021-08-07 19:34] guymolinari commented on #330
Good news.   I'll be happy to get it.

On Sat, Aug 7, 2021, 11:33 AM Daniel Lemire ***@***.***>
wrote:

[2021-08-07 20:21] lemire commented on #330
Fix in v0.9.4

I think we only had the bug in version 0.9.3.

[2021-08-07 20:21] #330 closed

[2021-08-07 20:21] lemire commented on #330
Note that we take bugs seriously. This should not have happened.

[2021-08-07 20:24] gamolina commented on #330
I didn’t see it because this release was never consumed by my products we are using 0.8.0

Glad to see we dodged that bullet.  😊

From: Daniel Lemire ***@***.***>
Date: Saturday, August 7, 2021 at 1:21 PM
To: RoaringBitmap/roaring ***@***.***>
Cc: Molinari, Guy ***@***.***>, Mention ***@***.***>
Subject: Re: [RoaringBitmap/roaring] broken commutativity for roaring64.FastOr (#330)

Note that we tak

[2021-08-07 20:26] lemire commented on #330
Please update to v0.9.4.

[2021-08-07 20:27] lemire commented on #330
Even so, please consider updating v0.9.4. As always, we can always use more testing, so do run your own tests.

[2021-08-07 20:54] gamolina commented on #330
Will do.  😊

From: Daniel Lemire ***@***.***>
Date: Saturday, August 7, 2021 at 1:27 PM
To: RoaringBitmap/roaring ***@***.***>
Cc: Molinari, Guy ***@***.***>, Mention ***@***.***>
Subject: Re: [RoaringBitmap/roaring] broken commutativity for roaring64.FastOr (#330)

Even so, please consider updating v0.9.4. As always, we can always use more testing, so do run your own tests.

—
You are receiving t

[2021-08-10 21:38] Oppen opened #332 "Serialize frozen bitmaps to `io.Writer`"
I just realized my original implementation of `FreezeTo` to a buffer is less than ideal for scenarios where we want to chain IO or simply write directly to files, as it needlessly creates a bigger buffer. I stumbled into this when I realized I simply write to a tar file and the standard library only exposes readers and writers for them, and it expects you to do everything sequentially.

Implementi